flows.json
[
    {
        "id": "67deb464.98214c",
        "type": "tab",
        "label": "Mysensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9292e51b.eaf788",
        "type": "tab",
        "label": "Software sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2be3a2a.67d4b8",
        "type": "tab",
        "label": "AV Center flows",
        "disabled": false,
        "info": "Flows that control the AV components.\n\nRemote control / scene switching is handled by a Logitech Harmony Hub\n\nAudio / Video streaming is done with two chromecasts"
    },
    {
        "id": "d9d4d547.6a9438",
        "type": "tab",
        "label": "Automation rules",
        "disabled": false,
        "info": "Automation flows, to turn on TV / Radio whenever a chromecast is active,\n\nTurn light up / down, depending on play state on the video chromecasts\n\nVarious other smaller automation rules that is used in my setup"
    },
    {
        "id": "353b452d.9a6efa",
        "type": "tab",
        "label": "Chicken gate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3e95c3b.5524b",
        "type": "tab",
        "label": "Voice commands",
        "disabled": false,
        "info": ""
    },
    {
        "id": "36f02452.2e99bc",
        "type": "tab",
        "label": "UI"
    },
    {
        "id": "c6ae2dfb.adbb9",
        "type": "tab",
        "label": "Media UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "29d73028.74b4a",
        "type": "tab",
        "label": "UI: BBQ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ca4f572b.274038",
        "type": "tab",
        "label": "UI: Varme system",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7acba262.c6674c",
        "type": "tab",
        "label": "Dashboard helpers",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d10deed0.f94c",
        "type": "tab",
        "label": "Slack",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6f8bad2c.1afba4",
        "type": "tab",
        "label": "Domoticz",
        "disabled": true,
        "info": "Handles domoticz in / out via a dummy serial port\n\nuse the following shell command to start socat.\n\n```\nsocat PTY,link=/dev/ttyS80,mode=666,group=dialout,raw PTY,link=/dev/ttyUSB20,mode=666,group=dialout,raw &\n```\n\nAttach domoticz to the /dev/ttyUSBxx endpoint, and nodered to /dev/ttySxx endpoint\n\n\nThe above can probably be done with MQTT as well, but it was a legacy setup when I inserted nodered between domoticz and a serial MySensors gateway\n"
    },
    {
        "id": "8bc8753a.1ea768",
        "type": "subflow",
        "name": "mqtt thermometer",
        "info": "",
        "in": [
            {
                "x": 120,
                "y": 80,
                "wires": [
                    {
                        "id": "c4285cac.b7dcb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 40,
                "wires": [
                    {
                        "id": "a133b28e.29844",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 80,
                "wires": [
                    {
                        "id": "a133b28e.29844",
                        "port": 1
                    }
                ]
            },
            {
                "x": 660,
                "y": 120,
                "wires": [
                    {
                        "id": "a133b28e.29844",
                        "port": 2
                    }
                ]
            }
        ],
        "inputLabels": [
            "MQTT input"
        ],
        "outputLabels": [
            "Temperature",
            "Humidity",
            "Barometric"
        ]
    },
    {
        "id": "821a7286.7de59",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyNRF24",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "b5105521.4aefa8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS80",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "acfe3226.5301d",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUTILITY",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "9dbdc7c7.624238",
        "type": "influxdb",
        "z": "67deb464.98214c",
        "hostname": "influxdb",
        "port": "8086",
        "database": "environment",
        "name": "Environment DB",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "9de2e4ed.fdcfc8",
        "type": "influxdb",
        "z": "67deb464.98214c",
        "hostname": "influxdb",
        "port": "8086",
        "database": "utility",
        "name": "Utility DB",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "ca5adeb2.68c55",
        "type": "slackbot-controller",
        "z": "",
        "name": "HusBot",
        "bot_token": "xoxb-93817565314-CM19x5qrKKpBBOruTdmCbMwC"
    },
    {
        "id": "56b003cf.93c9bc",
        "type": "harmony-server",
        "z": "",
        "name": "Stuen",
        "ip": "192.168.0.66"
    },
    {
        "id": "6c5b47d3.832458",
        "type": "ui_tab",
        "z": "",
        "name": "Stuen",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "9f6b85e1.adc7d8",
        "type": "ui_group",
        "z": "",
        "name": "Fjernvarme målere",
        "tab": "6255c082.fdb72",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "171dca46.627746",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Bowman Mørch",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d9490c52.897ce",
        "type": "ui_group",
        "z": "",
        "name": "Stuen",
        "tab": "6c5b47d3.832458",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "85f5cfaa.42289",
        "type": "ui_group",
        "z": "",
        "name": "Udendørs",
        "tab": "6c5b47d3.832458",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4798f2b0.5d747c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered1",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "18897163.60f2bf",
        "type": "ui_group",
        "z": "",
        "name": "Grill",
        "tab": "1fa739cf.db0f66",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1fa739cf.db0f66",
        "type": "ui_tab",
        "z": "",
        "name": "Grill",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "cc7bc1b6.f6635",
        "type": "ui_group",
        "z": "",
        "name": "Aktuel temperatur",
        "tab": "1fa739cf.db0f66",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9cca1fdd.fd315",
        "type": "ui_group",
        "z": "",
        "name": "Mål temperatur",
        "tab": "1fa739cf.db0f66",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9d8c74dc.570ca8",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "utility",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "940310ee.5c533",
        "type": "ui_group",
        "z": "",
        "name": "Scene",
        "tab": "6c5b47d3.832458",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e8eb39ba.7799b8",
        "type": "ui_group",
        "z": "",
        "name": "Settings",
        "tab": "ac7edd37.5c008",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac7edd37.5c008",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "6255c082.fdb72",
        "type": "ui_tab",
        "z": "",
        "name": "Huset",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "bf3de794.50d788",
        "type": "ui_group",
        "z": "",
        "name": "Lys",
        "tab": "6c5b47d3.832458",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "165c814.4d5267f",
        "type": "ui_group",
        "z": "",
        "name": "Varme settings",
        "tab": "6255c082.fdb72",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e11ff54d.12ad78",
        "type": "ui_group",
        "z": "",
        "name": "Badeværelse",
        "tab": "6255c082.fdb72",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1215f3be.8c080c",
        "type": "ui_group",
        "z": "",
        "name": "Soveværelse",
        "tab": "6255c082.fdb72",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58bcd57b.789b2c",
        "type": "ui_group",
        "z": "",
        "name": "Kontor",
        "tab": "6255c082.fdb72",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "97626318.9b7f2",
        "type": "tradfri-connection",
        "z": "",
        "address": "192.168.0.69",
        "name": ""
    },
    {
        "id": "ed2765a5.dc9328",
        "type": "mysensorsdb",
        "z": "",
        "name": "",
        "file": "/data/mysensors.db"
    },
    {
        "id": "d972b17e.bb915",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "sensorvalues",
        "name": "sensorvalues",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "5b8bba4c.a47444",
        "type": "serial in",
        "z": "67deb464.98214c",
        "name": "Mysensors NRF",
        "serial": "821a7286.7de59",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "8cb827f.b90b8d8",
                "25982c9c.c32ed4"
            ]
        ]
    },
    {
        "id": "47b5936e.b84a6c",
        "type": "serial out",
        "z": "67deb464.98214c",
        "name": "Mysensors NRF",
        "serial": "821a7286.7de59",
        "x": 1040,
        "y": 160,
        "wires": []
    },
    {
        "id": "9ebb1391.6144f",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "gw debug",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 840,
        "y": 920,
        "wires": []
    },
    {
        "id": "aec232d3.2860b",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "932ebb67.4968d8",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "msg_nrf",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "8cb827f.b90b8d8",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "NRF input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "74bc6004.618bc",
        "type": "http response",
        "z": "9292e51b.eaf788",
        "name": "",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "33eb5fc9.991eb",
        "type": "slackbot-listen",
        "z": "d10deed0.f94c",
        "slackbot": "ca5adeb2.68c55",
        "name": "",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "e78d46ee.fa0f98",
                "26f8f71a.1eb498"
            ]
        ]
    },
    {
        "id": "dd9af24e.e2395",
        "type": "slackbot-reply",
        "z": "d10deed0.f94c",
        "slackbot": "ca5adeb2.68c55",
        "name": "",
        "x": 1006,
        "y": 197,
        "wires": []
    },
    {
        "id": "f8828153.6536d",
        "type": "switch",
        "z": "d10deed0.f94c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "billede",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "hej",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 506,
        "y": 197,
        "wires": [
            [
                "9611fc27.e021c"
            ],
            [
                "b1e8baa7.2f09e8"
            ]
        ]
    },
    {
        "id": "b1e8baa7.2f09e8",
        "type": "change",
        "z": "d10deed0.f94c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Goddag",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 696,
        "y": 217,
        "wires": [
            [
                "f57f871e.389308"
            ]
        ]
    },
    {
        "id": "9611fc27.e021c",
        "type": "change",
        "z": "d10deed0.f94c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ok, jeg sender et billede",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 696,
        "y": 177,
        "wires": [
            [
                "f57f871e.389308"
            ]
        ]
    },
    {
        "id": "26f8f71a.1eb498",
        "type": "debug",
        "z": "d10deed0.f94c",
        "name": "listen",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 371,
        "y": 157,
        "wires": []
    },
    {
        "id": "e78d46ee.fa0f98",
        "type": "function",
        "z": "d10deed0.f94c",
        "name": "",
        "func": "msg.orig = msg;\nmsg.token = \"xoxb-93817565314-CM19x5qrKKpBBOruTdmCbMwC\";\nmsg.url = \"https://slack.com/api/users.info?token=xoxb-93817565314-CM19x5qrKKpBBOruTdmCbMwC&user=\"+msg.message.user;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 306,
        "y": 277,
        "wires": [
            [
                "588a8611.d17038",
                "7c0f393d.b4a888"
            ]
        ]
    },
    {
        "id": "588a8611.d17038",
        "type": "http request",
        "z": "d10deed0.f94c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 446,
        "y": 277,
        "wires": [
            [
                "d942251e.5b2d38"
            ]
        ]
    },
    {
        "id": "d942251e.5b2d38",
        "type": "function",
        "z": "d10deed0.f94c",
        "name": "",
        "func": "payload = JSON.parse(msg.payload);\nconsole.log(payload.user.name);\nmsg.payload = msg.message.text;\nmsg.user = payload.user.name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 586,
        "y": 277,
        "wires": [
            [
                "f31a5efc.4234",
                "f8828153.6536d"
            ]
        ]
    },
    {
        "id": "f31a5efc.4234",
        "type": "debug",
        "z": "d10deed0.f94c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 706,
        "y": 317,
        "wires": []
    },
    {
        "id": "7c0f393d.b4a888",
        "type": "debug",
        "z": "d10deed0.f94c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "url",
        "x": 436,
        "y": 317,
        "wires": []
    },
    {
        "id": "f57f871e.389308",
        "type": "template",
        "z": "d10deed0.f94c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}} {{user}}",
        "x": 866,
        "y": 197,
        "wires": [
            [
                "dd9af24e.e2395"
            ]
        ]
    },
    {
        "id": "ea57b38e.eecb5",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "a3d33992.a66ae8",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "ad8c0dc6.4f64a",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}°",
        "min": "-10",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "4f7cb0eb.0d19a",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugtighed",
        "label": "RH",
        "format": "{{value}}%",
        "min": "40",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#384dca"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "5115f872.4620e8",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Barometer",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "c04eebad.3abb18",
        "type": "mqtt in",
        "z": "29d73028.74b4a",
        "name": "",
        "topic": "bbq/probe/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "44614969.ed87a8",
                "d2bd726f.bc379"
            ]
        ]
    },
    {
        "id": "44614969.ed87a8",
        "type": "ui_chart",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "18897163.60f2bf",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 950,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3b28b192.3dedbe",
        "type": "ui_gauge",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "cc7bc1b6.f6635",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Probe 1",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "d2bd726f.bc379",
        "type": "switch",
        "z": "29d73028.74b4a",
        "name": "bbq switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bbq/probe/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bbq/probe/2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bbq/probe/3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bbq/probe/4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 790,
        "y": 320,
        "wires": [
            [
                "3b28b192.3dedbe"
            ],
            [
                "28155b24.363f94"
            ],
            [
                "fd89173.0fd6ae8"
            ],
            [
                "e84c7202.7c1c3"
            ]
        ]
    },
    {
        "id": "28155b24.363f94",
        "type": "ui_gauge",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "cc7bc1b6.f6635",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Probe 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "fd89173.0fd6ae8",
        "type": "ui_gauge",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "cc7bc1b6.f6635",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Probe 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "e84c7202.7c1c3",
        "type": "ui_gauge",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "cc7bc1b6.f6635",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Probe 4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "77610ed1.363cb",
        "type": "ui_numeric",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "",
        "group": "9cca1fdd.fd315",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "bbq/target/1",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 300,
        "y": 440,
        "wires": [
            [
                "da36f779.58bb88",
                "f01ba07f.b219e"
            ]
        ]
    },
    {
        "id": "da36f779.58bb88",
        "type": "function",
        "z": "29d73028.74b4a",
        "name": "set temperatures",
        "func": "topic = msg.topic.slice(-1);\nprobe = Number(topic);\ntemperature = Number(msg.payload);\nmsg1 = msg;\nmsg2 = null;\nmsg3 = null;\n\nvar targetTemp = context.get('targetTemp') || [];\n\nif (msg.topic.includes('target')) {\n    targetTemp[probe] = temperature;\n    context.set('targetTemp', targetTemp);\n    if (temperature === -1) {\n        msg1.ui_control = {\"max\": 100}\n    } else {\n        msg1.ui_control = {\"max\": msg.payload + 10};\n    }\n    msg1.topic = 'bbq/probe/'+topic\n    delete msg1.payload\n} else if (msg.topic.includes('probe')) {\n    if (targetTemp.length >= topic) {\n        if (temperature >= targetTemp[probe]) {\n            msg3 = {payload: 'Probe ' + topic + ' har nået sin mål temperatur'};\n        }\n    }    \n}\n\nreturn [msg1, msg, msg3];\n",
        "outputs": "3",
        "noerr": 0,
        "x": 570,
        "y": 500,
        "wires": [
            [
                "d2bd726f.bc379",
                "e8f5c2a1.34456"
            ],
            [
                "d71091bc.2ecb8"
            ],
            [
                "6e5db1e.f67ef5"
            ]
        ]
    },
    {
        "id": "96657173.b10bf",
        "type": "ui_numeric",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "",
        "group": "9cca1fdd.fd315",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "bbq/target/2",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 300,
        "y": 480,
        "wires": [
            [
                "da36f779.58bb88"
            ]
        ]
    },
    {
        "id": "36625ef3.3ff4c2",
        "type": "ui_numeric",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "",
        "group": "9cca1fdd.fd315",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "bbq/target/3",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "da36f779.58bb88"
            ]
        ]
    },
    {
        "id": "a0b3e3fc.f1463",
        "type": "ui_numeric",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "",
        "group": "9cca1fdd.fd315",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "bbq/target/4",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "da36f779.58bb88"
            ]
        ]
    },
    {
        "id": "6e5db1e.f67ef5",
        "type": "ui_toast",
        "z": "29d73028.74b4a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "1e1ae89f.e44f67",
        "type": "ui_slider",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "1",
        "group": "9cca1fdd.fd315",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "bbq/probe/1",
        "min": "10",
        "max": "90",
        "step": 1,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "77610ed1.363cb"
            ]
        ]
    },
    {
        "id": "bc8e8dad.66db9",
        "type": "ui_slider",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "2",
        "group": "9cca1fdd.fd315",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "bbq/probe/1",
        "min": "10",
        "max": "90",
        "step": 1,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "96657173.b10bf"
            ]
        ]
    },
    {
        "id": "5b1f8b73.ca7084",
        "type": "ui_slider",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "3",
        "group": "9cca1fdd.fd315",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "bbq/probe/1",
        "min": "10",
        "max": "90",
        "step": 1,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "36625ef3.3ff4c2"
            ]
        ]
    },
    {
        "id": "fee5a0b4.d3336",
        "type": "ui_slider",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "4",
        "group": "9cca1fdd.fd315",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "bbq/probe/1",
        "min": "10",
        "max": "90",
        "step": 1,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "a0b3e3fc.f1463"
            ]
        ]
    },
    {
        "id": "f01ba07f.b219e",
        "type": "debug",
        "z": "29d73028.74b4a",
        "name": "input",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "e8f5c2a1.34456",
        "type": "debug",
        "z": "29d73028.74b4a",
        "name": "output",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "d71091bc.2ecb8",
        "type": "debug",
        "z": "29d73028.74b4a",
        "name": "msg all",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "72e80bb2.46ea04",
        "type": "http in",
        "z": "9292e51b.eaf788",
        "name": "",
        "url": "tasker",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "74bc6004.618bc",
                "3a4aa580.8853ea"
            ]
        ]
    },
    {
        "id": "7d1c7516.71802c",
        "type": "mysencap",
        "z": "9292e51b.eaf788",
        "name": "",
        "nodeid": "220",
        "childid": "1",
        "subtype": "2",
        "internal": 0,
        "ack": false,
        "msgtype": 1,
        "presentation": true,
        "presentationtype": 0,
        "presentationtext": "Presence 1",
        "fullpresentation": true,
        "firmwarename": "tasker",
        "firmwareversion": "1",
        "x": 700,
        "y": 440,
        "wires": [
            [
                "53c8aa80.0c7564"
            ]
        ]
    },
    {
        "id": "8eb060c5.65dd",
        "type": "function",
        "z": "9292e51b.eaf788",
        "name": "",
        "func": "payload = msg.payload;\nif (payload.arbjede === \"Ankommet\") {\n    payload = 1;\n} else {\n    payload = 0;\n}\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "7d1c7516.71802c"
            ]
        ]
    },
    {
        "id": "cf80a3d0.be573",
        "type": "mqtt out",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "895c5ec3.769fc",
        "type": "mqtt in",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "mys-out/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "ed4c6e39.bacbd",
                "c11a5ff7.4e5f1"
            ]
        ]
    },
    {
        "id": "7ec6243f.89990c",
        "type": "mqtt in",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "mys-in/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "f11a2832.07d9d8",
                "eec30a1f.d7c4a8"
            ]
        ]
    },
    {
        "id": "a4e0701b.c1765",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "MQTT out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "9150e4b1.7e87f8",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/11/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "beb834aa.730368"
            ]
        ]
    },
    {
        "id": "25982c9c.c32ed4",
        "type": "mysdecode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": false,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "ea57b38e.eecb5",
                "7535eff3.37e22"
            ]
        ]
    },
    {
        "id": "f11a2832.07d9d8",
        "type": "mysdecode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": true,
        "x": 380,
        "y": 780,
        "wires": [
            [
                "c1d9ad73.24529",
                "abd263fa.807d3"
            ]
        ]
    },
    {
        "id": "7535eff3.37e22",
        "type": "mysencode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": true,
        "mqtttopic": "mys-in",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "a4e0701b.c1765",
                "cf80a3d0.be573"
            ]
        ]
    },
    {
        "id": "ed4c6e39.bacbd",
        "type": "mysdecode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": true,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "a3d33992.a66ae8",
                "1d6e96fd.d27aa9"
            ]
        ]
    },
    {
        "id": "1d6e96fd.d27aa9",
        "type": "mysencode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "932ebb67.4968d8",
                "70936271.600dec"
            ]
        ]
    },
    {
        "id": "399d6b35.892e74",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1090,
        "y": 120,
        "wires": []
    },
    {
        "id": "cc0c0e63.6b405",
        "type": "function",
        "z": "d2be3a2a.67d4b8",
        "name": "Translate",
        "func": "a = msg.payload;\n\nif (a.activityStatus == 1 || a.activityStatus == 0) {\n    switch(a.activityId) {\n        case \"20800334\":\n            activity = \"Stream Video\";\n            break;\n        case \"21395657\":\n            activity = \"Stream Audio\";\n            break;\n        case \"24516381\":\n            activity = \"CD\";\n            flow.set('device', 'dvd');\n            break;\n        case \"20795082\":\n            activity = \"Radio\";\n            break;\n        case \"20800253\":\n            activity = \"DVD\";\n            break;\n        case \"20800328\":\n            activity = \"WII\";\n            break;        \n        case \"20800510\":\n            activity = \"TV\";\n            break;\n        case \"-1\":\n            activity = \"OFF\";\n            break;\n        default:\n            activity = msg.payload.activityId;\n            break;\n    }\n    \n    msg.payload.activityName = activity;\n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 160,
        "wires": [
            [
                "e2a5f61a.7dd638",
                "399d6b35.892e74"
            ]
        ]
    },
    {
        "id": "e2a5f61a.7dd638",
        "type": "mqtt out",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "avctrl/out/scene",
        "qos": "2",
        "retain": "true",
        "broker": "4798f2b0.5d747c",
        "x": 1120,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b273a3.c572dc4",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "Stream video",
        "server": "56b003cf.93c9bc",
        "activity": "20800334",
        "label": "Chromecast TV",
        "x": 490,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ebf8b052.43e42",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "Stream audio",
        "server": "56b003cf.93c9bc",
        "activity": "21395657",
        "label": "Chromecast Audio",
        "x": 490,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2889457c.b0268a",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "WII",
        "server": "56b003cf.93c9bc",
        "activity": "20800328",
        "label": "Play Wii",
        "x": 470,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4bef3015.f4a8b",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "OFF",
        "server": "56b003cf.93c9bc",
        "activity": "-1",
        "label": "PowerOff",
        "x": 470,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a5649af7.74fca8",
        "type": "switch",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "video",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "audio",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wii",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dvd",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "6b273a3.c572dc4"
            ],
            [
                "ebf8b052.43e42"
            ],
            [
                "2889457c.b0268a"
            ],
            [
                "c1263114.4ef3f"
            ],
            [
                "541a6418.f052ec"
            ],
            [
                "4bef3015.f4a8b"
            ]
        ]
    },
    {
        "id": "61c85fe8.98526",
        "type": "mqtt in",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "avctrl/in/scene",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a5649af7.74fca8",
                "a6f70bb5.935f78"
            ]
        ]
    },
    {
        "id": "2c73477.9c149b8",
        "type": "switch",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "volumeup",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "volumedown",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mute",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "f5568b5f.898cc8"
            ],
            [
                "367a93b4.65ee8c"
            ],
            [
                "c70cb7be.595738"
            ],
            [
                "fc2bd7be.c40148"
            ]
        ]
    },
    {
        "id": "f5568b5f.898cc8",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Volume UP",
        "server": "56b003cf.93c9bc",
        "activity": "21395657",
        "label": "Chromecast Audio",
        "command": "%7B%22command%22::%22VolumeUp%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008441%22%7D",
        "repeat": "1",
        "x": 490,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "367a93b4.65ee8c",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Volume DOWN",
        "server": "56b003cf.93c9bc",
        "activity": "21395657",
        "label": "Chromecast Audio",
        "command": "%7B%22command%22::%22VolumeDown%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008441%22%7D",
        "repeat": "1",
        "x": 500,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1bb38ed7.f57a81",
        "type": "mqtt in",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "avctrl/in/control",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "2c73477.9c149b8",
                "9b166d59.19dab"
            ]
        ]
    },
    {
        "id": "c70cb7be.595738",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Mute",
        "server": "56b003cf.93c9bc",
        "activity": "21395657",
        "label": "Chromecast TV",
        "command": "%7B%22command%22::%22Mute%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008441%22%7D",
        "repeat": "1",
        "x": 470,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8d19bab2.8e9f38",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "chromecast/cast/state",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "f518f36d.e50be"
            ]
        ]
    },
    {
        "id": "f518f36d.e50be",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "set lights",
        "func": "var avctrl = global.get(\"avctrl\") || \"OFF\";\nvar daylight = Number(flow.get('daylight') || 0);\nvar msgOut = null\nvar currentLight = Number(flow.get('sensor14_1_3') || 0);\nif ((avctrl === \"stream video\") && \n    (daylight === 0)) {\n\n    if (msg.payload === 'PLAYING') {\n        msgOut = {payload : 5};\n    }\n    if (msg.payload == 'PAUSED' || msg.payload=== 'STOPPED') {\n        msgOut = {payload: 100};\n    }\n    if (msgOut !== null && msgOut.payload !== currentLight) {\n        return msgOut;\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "72a0f42e.57bf4c",
                "2c89a82a.ecab58",
                "dbe26677.cae0b8"
            ]
        ]
    },
    {
        "id": "c7a4cf85.bac8a",
        "type": "mysencap",
        "z": "d9d4d547.6a9438",
        "name": "Sofa LED",
        "nodeid": "14",
        "childid": "1",
        "subtype": "3",
        "internal": 0,
        "ack": false,
        "msgtype": 1,
        "presentation": false,
        "presentationtype": 0,
        "presentationtext": "",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "743ac734.623e78"
            ]
        ]
    },
    {
        "id": "743ac734.623e78",
        "type": "mysencode",
        "z": "d9d4d547.6a9438",
        "name": "mys-out",
        "mqtt": true,
        "mqtttopic": "mys-out",
        "x": 860,
        "y": 140,
        "wires": [
            [
                "229fa356.e7c70c",
                "4e93a2b6.c2995c"
            ]
        ]
    },
    {
        "id": "229fa356.e7c70c",
        "type": "mqtt out",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "72a0f42e.57bf4c",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "4e93a2b6.c2995c",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c89a82a.ecab58",
        "type": "mysencap",
        "z": "d9d4d547.6a9438",
        "name": "Fjernsyn LED",
        "nodeid": "13",
        "childid": "1",
        "subtype": "3",
        "internal": 0,
        "ack": false,
        "msgtype": 1,
        "presentation": false,
        "presentationtype": 0,
        "presentationtext": "",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "743ac734.623e78"
            ]
        ]
    },
    {
        "id": "7f194889.4cf208",
        "type": "H observe",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "server": "56b003cf.93c9bc",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "cc0c0e63.6b405",
                "4fbfed2b.777914"
            ]
        ]
    },
    {
        "id": "c11a5ff7.4e5f1",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "290b0786.992e48",
        "type": "comment",
        "z": "67deb464.98214c",
        "name": "Mysensors Serial <-> MQTT transformation",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "de43824f.f00d5",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "chromecast/+/app",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "e1cbaf9b.7c245"
            ]
        ]
    },
    {
        "id": "3a4aa580.8853ea",
        "type": "json",
        "z": "9292e51b.eaf788",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "8eb060c5.65dd"
            ]
        ]
    },
    {
        "id": "dc02a5c9.b595a8",
        "type": "mqtt out",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1570,
        "y": 500,
        "wires": []
    },
    {
        "id": "fb4b92ff.085b3",
        "type": "ui_switch",
        "z": "36f02452.2e99bc",
        "name": "",
        "label": "Sofa",
        "group": "bf3de794.50d788",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/14/1/1/1/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "7e85add0.c89414"
            ]
        ]
    },
    {
        "id": "70936271.600dec",
        "type": "function",
        "z": "67deb464.98214c",
        "name": "add \\n\\r",
        "func": "msg.payload = msg.payload + \"\\n\\r\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "47b5936e.b84a6c"
            ]
        ]
    },
    {
        "id": "7e7a764e.5656a8",
        "type": "sunrise",
        "z": "d9d4d547.6a9438",
        "name": "sunrise / fall",
        "lat": "56.774153",
        "lon": "10.170926",
        "start": "goldenHourEnd",
        "end": "goldenHour",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "6bab362a.1710c8"
            ],
            []
        ]
    },
    {
        "id": "2a217e70.aac6f2",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "avctrl/out/scene",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "d2cb106b.f2fd",
                "71d6bbea.c9f064"
            ]
        ]
    },
    {
        "id": "3e41fa8d.6fbaa6",
        "type": "ui_slider",
        "z": "36f02452.2e99bc",
        "name": "",
        "label": "Film afspil lysstyrke",
        "group": "e8eb39ba.7799b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "conf/light/movieplay",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 410,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "4eb21fcf.0ae0a",
        "type": "ui_slider",
        "z": "36f02452.2e99bc",
        "name": "",
        "label": "Film pause lysstyrke",
        "group": "e8eb39ba.7799b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "conf/light/moviepause",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 420,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "fe4fa6ea.b04af8",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/14/1/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 840,
        "y": 500,
        "wires": [
            [
                "fb4b92ff.085b3"
            ]
        ]
    },
    {
        "id": "9f7173a5.0857",
        "type": "delay",
        "z": "d9d4d547.6a9438",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "500d2e4.d03e5d"
            ]
        ]
    },
    {
        "id": "e1cbaf9b.7c245",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "Auto power on / off av center",
        "func": "// Store app for the current device in context\n// So we can retrieve it in other functions\nconst regex = /chromecast\\/(.*)\\//g;\nvar app = msg.payload || 'None'\nm = regex.exec(msg.topic)\ndevice = m[1];\nflow.set(device + \"_app\", app);\nvar avctrl = global.get(\"avctrl\") || \"OFF\";\n\nmsg1 = null;\nmsg2 = null;\n\n// Get current app on the \"other\" chromecast\nother_device = 'audio';\nif (device === 'audio') {\n    other_device = 'cast';\n}\nother_app = flow.get(other_device + '_app') || 'None';\n\n// Start power off countdown if no activity\nif ((app === 'None' || app === 'Backdrop') && \n    (other_app ==='None' || other_app === 'Backdrop') &&\n    avctrl.includes('stream')) {\n    msg1 = {payload: \"off\"};\n} else {\n    msg1 = {reset: \"YES\"};\n}\n\n// If the other chromecast is iddle, then we can start our \"thing\"\nif (other_app === 'None' || other_app === 'Backdrop') {\n    if ((app !== 'None') && (app !== 'Backdrop')) {\n        if (device === 'cast') {\n            msg2 = {payload: 'video'};\n        } else {\n            msg2 = {payload: 'audio'};\n        }\n    }   \n} \n\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "9f7173a5.0857"
            ],
            [
                "500d2e4.d03e5d"
            ]
        ]
    },
    {
        "id": "500d2e4.d03e5d",
        "type": "mqtt out",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "avctrl/in/scene",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "a353260f.63b8f8",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "dashboard/sensors/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "1faad09a.219b4f"
            ]
        ]
    },
    {
        "id": "b809b24d.95ec2",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "store sensordata",
        "func": "var path = 'sensor'+msg.nodeId+'_'+msg.childSensorId+'_'+msg.subType;\ndata = msg.payload\nglobal.set(path, data);\nmsg.payload = path + \"::\" + data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 660,
        "wires": [
            [
                "dbf120d6.901e8"
            ]
        ]
    },
    {
        "id": "1faad09a.219b4f",
        "type": "mysdecode",
        "z": "d9d4d547.6a9438",
        "name": "",
        "mqtt": true,
        "x": 360,
        "y": 660,
        "wires": [
            [
                "b809b24d.95ec2"
            ]
        ]
    },
    {
        "id": "dbe26677.cae0b8",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "is sofa light on",
        "func": "light = Number(global.get('sensor14_1_3') || 0);\nif (light >0 ) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "c7a4cf85.bac8a"
            ]
        ]
    },
    {
        "id": "dbf120d6.901e8",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "6c291426.31b7ac",
        "type": "comment",
        "z": "d9d4d547.6a9438",
        "name": "Chromecast turn AV on/off automatically",
        "info": "",
        "x": 190,
        "y": 320,
        "wires": []
    },
    {
        "id": "640e3456.6fb06c",
        "type": "comment",
        "z": "d9d4d547.6a9438",
        "name": "Movie theatre lights",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "d62cabb4.b9d228",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "d9490c52.897ce",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value| number:1}}°",
        "min": "15",
        "max": "25",
        "colors": [
            "#430ca9",
            "#04e10a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 620,
        "wires": []
    },
    {
        "id": "4865b18a.983f4",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "d9490c52.897ce",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugt",
        "label": "rH",
        "format": "{{value}}%",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 660,
        "wires": []
    },
    {
        "id": "ae8620c1.e8d8",
        "type": "ui_chart",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 2,
        "width": "3",
        "height": "3",
        "label": "Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 550,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8e62a7b6.c90208",
        "type": "ui_chart",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 4,
        "width": "3",
        "height": "3",
        "label": "Fugt",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 530,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6982d022.1b695",
        "type": "ui_chart",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 6,
        "width": "3",
        "height": "3",
        "label": "Baro",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 530,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7d8661eb.8739e",
        "type": "ui_slider",
        "z": "36f02452.2e99bc",
        "name": "slider sofa",
        "label": "",
        "group": "bf3de794.50d788",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "mys-out/14/1/1/1/3",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "7e85add0.c89414"
            ]
        ]
    },
    {
        "id": "637df737.fe84e8",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/14/1/1/0/3",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 840,
        "y": 540,
        "wires": [
            [
                "7d8661eb.8739e"
            ]
        ]
    },
    {
        "id": "3206bfff.039d5",
        "type": "debug",
        "z": "36f02452.2e99bc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1390,
        "y": 540,
        "wires": []
    },
    {
        "id": "7e85add0.c89414",
        "type": "function",
        "z": "36f02452.2e99bc",
        "name": "",
        "func": "if (msg.retain === undefined)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 520,
        "wires": [
            [
                "3206bfff.039d5",
                "f14dc53c.d72c78"
            ]
        ]
    },
    {
        "id": "f14dc53c.d72c78",
        "type": "delay",
        "z": "36f02452.2e99bc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1410,
        "y": 500,
        "wires": [
            [
                "dc02a5c9.b595a8"
            ]
        ]
    },
    {
        "id": "d0491803.13e098",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "d9490c52.897ce",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Gulv temperatur",
        "label": "C",
        "format": "{{value}}°",
        "min": "20",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "249b235c.4b97ec",
        "type": "switch",
        "z": "ca4f572b.274038",
        "name": "Varmesystem",
        "property": "childSensorId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "d0491803.13e098",
                "5380ea70.734c84"
            ],
            [
                "353691c2.45d69e"
            ],
            [
                "51e7d896.9b0928"
            ],
            [
                "dee43e87.5c92b"
            ]
        ]
    },
    {
        "id": "353691c2.45d69e",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "9f6b85e1.adc7d8",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fremløb",
        "label": "C",
        "format": "{{value}}°",
        "min": "30",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1000,
        "y": 200,
        "wires": []
    },
    {
        "id": "51e7d896.9b0928",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "9f6b85e1.adc7d8",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Retur",
        "label": "C",
        "format": "{{value}}°",
        "min": "30",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 240,
        "wires": []
    },
    {
        "id": "dee43e87.5c92b",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "9f6b85e1.adc7d8",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Varmt vand",
        "label": "C",
        "format": "{{value}}°",
        "min": "40",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "5380ea70.734c84",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "9f6b85e1.adc7d8",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Gulv temperatur",
        "label": "units",
        "format": "{{value}}°",
        "min": "20",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1020,
        "y": 120,
        "wires": []
    },
    {
        "id": "6119f7dd.4fddb8",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/+/+/0/0",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "52fb9a86.3b9fc4"
            ]
        ]
    },
    {
        "id": "52fb9a86.3b9fc4",
        "type": "mysdecode",
        "z": "ca4f572b.274038",
        "name": "",
        "mqtt": true,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "249b235c.4b97ec"
            ]
        ]
    },
    {
        "id": "83740ef.6f27df",
        "type": "ui_switch",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Sommer mode",
        "group": "165c814.4d5267f",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/20/8/1/1/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "d162a55c.dbd7a8"
            ]
        ]
    },
    {
        "id": "59025281.1f294c",
        "type": "ui_switch",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Ventil",
        "group": "165c814.4d5267f",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/20/6/1/1/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 590,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ca75c2fb.c0421",
        "type": "ui_numeric",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Gulvvarme termostat",
        "group": "165c814.4d5267f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "mys-out/20/0/1/1/45",
        "format": "{{value}}&deg;C",
        "min": "20",
        "max": "35",
        "step": "0.5",
        "x": 640,
        "y": 400,
        "wires": [
            [
                "d162a55c.dbd7a8"
            ]
        ]
    },
    {
        "id": "23d7ab5a.c27aa4",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/0/1/+/45",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "ca75c2fb.c0421"
            ]
        ]
    },
    {
        "id": "b242c4b5.45fff8",
        "type": "mqtt out",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1090,
        "y": 500,
        "wires": []
    },
    {
        "id": "22cfe514.e2f19a",
        "type": "ui_numeric",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Indløbs temperatur til hent varme",
        "group": "165c814.4d5267f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "mys-out/20/1/1/0/45",
        "format": "{{value}}&deg;C",
        "min": "25",
        "max": "40",
        "step": "0.5",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "d162a55c.dbd7a8"
            ]
        ]
    },
    {
        "id": "e6bb190c.909188",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/1/1/+/45",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "22cfe514.e2f19a"
            ]
        ]
    },
    {
        "id": "769f0ea5.e6752",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/8/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "83740ef.6f27df"
            ]
        ]
    },
    {
        "id": "1df4132c.a2329d",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/6/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "59025281.1f294c"
            ]
        ]
    },
    {
        "id": "f71208eb.1e1808",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/7/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "1f8b5b93.7bbc84"
            ]
        ]
    },
    {
        "id": "1f8b5b93.7bbc84",
        "type": "ui_switch",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Pumpe",
        "group": "165c814.4d5267f",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/20/7/1/1/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 600,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "90261eb0.1dda9",
        "type": "ui_switch",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Hent varme",
        "group": "165c814.4d5267f",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "mys-out/20/6/1/1/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "d162a55c.dbd7a8"
            ]
        ]
    },
    {
        "id": "16053676.c1723a",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/5/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 600,
        "wires": [
            [
                "90261eb0.1dda9"
            ]
        ]
    },
    {
        "id": "d162a55c.dbd7a8",
        "type": "function",
        "z": "ca4f572b.274038",
        "name": "",
        "func": "if (msg.retain === undefined)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 500,
        "wires": [
            [
                "b242c4b5.45fff8"
            ]
        ]
    },
    {
        "id": "d4c611b2.4c162",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "Elforbrug aktuelt",
        "group": "d9490c52.897ce",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Elforbrug",
        "label": "W",
        "format": "{{value| number:1}}",
        "min": "40",
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "2000",
        "x": 1100,
        "y": 660,
        "wires": []
    },
    {
        "id": "b3e6a596.add9a8",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "e11ff54d.12ad78",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}°",
        "min": "15",
        "max": "25",
        "colors": [
            "#430ca9",
            "#04e10a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "68de03bf.382d8c",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "e11ff54d.12ad78",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugt",
        "label": "rH",
        "format": "{{value}}%",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "c4285cac.b7dcb",
        "type": "mysdecode",
        "z": "8bc8753a.1ea768",
        "name": "",
        "mqtt": true,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "a133b28e.29844"
            ]
        ]
    },
    {
        "id": "a133b28e.29844",
        "type": "switch",
        "z": "8bc8753a.1ea768",
        "name": "subTypeSplit",
        "property": "subType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 510,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "fc3093dc.9405",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "badeværelse",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "b3e6a596.add9a8"
            ],
            [
                "68de03bf.382d8c"
            ],
            []
        ]
    },
    {
        "id": "c998ff2f.d3ebf",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/9/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "fc3093dc.9405"
            ]
        ]
    },
    {
        "id": "beb834aa.730368",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "udendørs",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "ae8620c1.e8d8",
                "ad8c0dc6.4f64a"
            ],
            [
                "4f7cb0eb.0d19a",
                "8e62a7b6.c90208"
            ],
            [
                "5115f872.4620e8",
                "6982d022.1b695"
            ]
        ]
    },
    {
        "id": "b1641b7d.068c98",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "1215f3be.8c080c",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}",
        "min": "15",
        "max": "25",
        "colors": [
            "#430ca9",
            "#04e10a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "f7105844.05c978",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "1215f3be.8c080c",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugt",
        "label": "rH",
        "format": "{{value}}%",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "a41abb3e.268738",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "soveværelse",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "b1641b7d.068c98"
            ],
            [
                "f7105844.05c978"
            ],
            []
        ]
    },
    {
        "id": "83463fd1.5897a",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/6/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "a41abb3e.268738"
            ]
        ]
    },
    {
        "id": "134815a.88ef3ea",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "58bcd57b.789b2c",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}°",
        "min": "15",
        "max": "25",
        "colors": [
            "#430ca9",
            "#04e10a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "b984d89e.c852d8",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "58bcd57b.789b2c",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugt",
        "label": "rH",
        "format": "{{value}}%",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "489cf0ec.b2982",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "kontor",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "134815a.88ef3ea"
            ],
            [
                "b984d89e.c852d8"
            ],
            []
        ]
    },
    {
        "id": "7934a9ec.850148",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/200/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "489cf0ec.b2982"
            ]
        ]
    },
    {
        "id": "a95f8a61.33e438",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/99/1/1/0/17",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 850,
        "y": 660,
        "wires": [
            [
                "d4c611b2.4c162"
            ]
        ]
    },
    {
        "id": "92832c3a.b6a5f",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/99/2/1/0/18",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 850,
        "y": 620,
        "wires": [
            [
                "c8597b8b.0581b8"
            ]
        ]
    },
    {
        "id": "753ad95b.7df9c8",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "Elforbrug dagligt",
        "group": "d9490c52.897ce",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Elforbrug",
        "label": "kWh",
        "format": "{{value| number:1}}",
        "min": "0",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "20",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "c1263114.4ef3f",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "TV",
        "server": "56b003cf.93c9bc",
        "activity": "20800510",
        "label": "TV",
        "x": 470,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "541a6418.f052ec",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "DVD",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "x": 470,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d1b30c8f.d3354",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "stuen",
        "x": 350,
        "y": 660,
        "wires": [
            [
                "d62cabb4.b9d228"
            ],
            [
                "4865b18a.983f4"
            ],
            []
        ]
    },
    {
        "id": "8712ec41.562cf",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/10/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "d1b30c8f.d3354"
            ]
        ]
    },
    {
        "id": "c8597b8b.0581b8",
        "type": "function",
        "z": "36f02452.2e99bc",
        "name": "",
        "func": "msg.payload = Number(msg.payload)/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 620,
        "wires": [
            [
                "753ad95b.7df9c8"
            ]
        ]
    },
    {
        "id": "fc2bd7be.c40148",
        "type": "switch",
        "z": "d2be3a2a.67d4b8",
        "name": "thomas",
        "property": "avctrl",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "dvd",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cd",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "audio",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "video",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 480,
        "y": 540,
        "wires": [
            [
                "25273a45.75e776"
            ],
            [
                "25273a45.75e776"
            ],
            [
                "e0cb35b0.2bf4a8"
            ],
            [
                "fef6e906.107c58"
            ],
            [
                "e0cb35b0.2bf4a8",
                "fef6e906.107c58"
            ]
        ]
    },
    {
        "id": "e0cb35b0.2bf4a8",
        "type": "change",
        "z": "d2be3a2a.67d4b8",
        "name": "audio",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "avctrl/in",
                "fromt": "str",
                "to": "chromecast/audio",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "15cbe8a1.e953e7",
                "2aadd645.74b1ba"
            ]
        ]
    },
    {
        "id": "fef6e906.107c58",
        "type": "change",
        "z": "d2be3a2a.67d4b8",
        "name": "video",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "avctrl/in",
                "fromt": "str",
                "to": "chromecast/cast",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "15cbe8a1.e953e7",
                "2aadd645.74b1ba"
            ]
        ]
    },
    {
        "id": "15cbe8a1.e953e7",
        "type": "mqtt out",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "25273a45.75e776",
        "type": "switch",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pause",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "play",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fwd",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rev",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 650,
        "y": 500,
        "wires": [
            [
                "c29005a6.029498"
            ],
            [
                "aa76e025.eb137"
            ],
            [
                "b3ccceab.07286"
            ],
            [
                "a0ecd37f.01d88"
            ],
            [
                "a73cb364.f49ab"
            ]
        ]
    },
    {
        "id": "c29005a6.029498",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Pause",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "command": "%7B%22command%22::%22Pause%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008443%22%7D",
        "repeat": "1",
        "x": 810,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "aa76e025.eb137",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Play",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "command": "%7B%22command%22::%22Play%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008443%22%7D",
        "repeat": "1",
        "x": 810,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a73cb364.f49ab",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Stop",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "command": "%7B%22command%22::%22Stop%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008443%22%7D",
        "repeat": "1",
        "x": 810,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "7067eb38.1ac8a4",
        "type": "switch",
        "z": "d9d4d547.6a9438",
        "name": "",
        "property": "payload.activityName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Video",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Audio",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "61349c46.da30c4"
            ],
            [
                "3f59c476.b9f49c"
            ],
            [
                "3f59c476.b9f49c",
                "61349c46.da30c4"
            ]
        ]
    },
    {
        "id": "3f59c476.b9f49c",
        "type": "change",
        "z": "d9d4d547.6a9438",
        "name": "quit video",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "quit",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chromecast/cast/control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 480,
        "wires": [
            [
                "6c0576fd.05c4e8",
                "bbf5ae2e.10df2"
            ]
        ]
    },
    {
        "id": "6c0576fd.05c4e8",
        "type": "mqtt out",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "61349c46.da30c4",
        "type": "change",
        "z": "d9d4d547.6a9438",
        "name": "quit audio",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "quit",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chromecast/audio/control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 520,
        "wires": [
            [
                "6c0576fd.05c4e8",
                "c292fcc.658c8"
            ]
        ]
    },
    {
        "id": "9b166d59.19dab",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 290,
        "y": 420,
        "wires": []
    },
    {
        "id": "a64889bc.766e68",
        "type": "serial out",
        "z": "6f8bad2c.1afba4",
        "name": "Domoticz",
        "serial": "b5105521.4aefa8",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "a319a2b8.c07f",
        "type": "serial in",
        "z": "6f8bad2c.1afba4",
        "name": "Domoticz (20)",
        "serial": "b5105521.4aefa8",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "cca3566c.5b7978"
            ]
        ]
    },
    {
        "id": "7511261b.1bc4b8",
        "type": "debug",
        "z": "6f8bad2c.1afba4",
        "name": "Domoticz in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "19c0e549.177dfb",
        "type": "debug",
        "z": "6f8bad2c.1afba4",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "a1a9f201.3f3cb",
        "type": "mysencode",
        "z": "6f8bad2c.1afba4",
        "name": "",
        "mqtt": false,
        "x": 830,
        "y": 160,
        "wires": [
            [
                "81a032c5.61d4"
            ]
        ]
    },
    {
        "id": "cca3566c.5b7978",
        "type": "mysdecode",
        "z": "6f8bad2c.1afba4",
        "name": "",
        "mqtt": false,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "7511261b.1bc4b8",
                "512538b0.5a6508"
            ]
        ]
    },
    {
        "id": "30d9fffe.c38ed",
        "type": "mqtt out",
        "z": "6f8bad2c.1afba4",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "5eb7d7fc.255518",
        "type": "mysencode",
        "z": "6f8bad2c.1afba4",
        "name": "",
        "mqtt": true,
        "mqtttopic": "mys-out",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "30d9fffe.c38ed",
                "990a5df3.89ada"
            ]
        ]
    },
    {
        "id": "81a032c5.61d4",
        "type": "function",
        "z": "6f8bad2c.1afba4",
        "name": "add \\n\\r",
        "func": "msg.payload = msg.payload + \"\\n\\r\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 160,
        "wires": [
            [
                "19c0e549.177dfb",
                "a64889bc.766e68"
            ]
        ]
    },
    {
        "id": "990a5df3.89ada",
        "type": "debug",
        "z": "6f8bad2c.1afba4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "f33af3.1b6ac51",
        "type": "mqtt in",
        "z": "6f8bad2c.1afba4",
        "name": "",
        "topic": "mys-in/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "a59df457.792858"
            ]
        ]
    },
    {
        "id": "a59df457.792858",
        "type": "mysdecode",
        "z": "6f8bad2c.1afba4",
        "name": "",
        "mqtt": true,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "e0d22f89.d2c0c"
            ]
        ]
    },
    {
        "id": "56a80b55.263e74",
        "type": "comment",
        "z": "67deb464.98214c",
        "name": "Logging and data collection from nodes",
        "info": "",
        "x": 210,
        "y": 700,
        "wires": []
    },
    {
        "id": "c1d9ad73.24529",
        "type": "function",
        "z": "67deb464.98214c",
        "name": "Influx conditioner",
        "func": "msg_env = null;\nmsg_utility = null;\nst = msg.subType;\nif (msg.messageType == 1 && (st === 0 || st == 1 || st == 2 || st == 4 || st == 17)) {\n    var tags = {};var data = {}\n    tags.node = msg.nodeId.toString();\n    tags.sensor = msg.childSensorId.toString();\n    data.value=parseFloat(msg.payload);\n    if (!isNaN(data.value)) {\n        switch (st) {\n            case 0 : type = \"temperature\";break;\n            case 1 : type = \"humidity\"; break;\n            case 2 : type = \"status\"; break;\n            case 4 : type = \"barometer\"; break;\n            case 17: type = \"electricity\"; break;\n        }\n        msg.payload = [data, tags];\n        msg.measurement = type;\n        if (msg.subType==17) {\n            msg_utility = msg;\n        }\n        else {\n            msg_env = msg;\n        }\n    }\n} \n\nreturn [msg_env, msg_utility, msg];",
        "outputs": "3",
        "noerr": 0,
        "x": 630,
        "y": 700,
        "wires": [
            [
                "10971beb.1b4a04"
            ],
            [
                "e0547916.327208"
            ],
            [
                "aec232d3.2860b"
            ]
        ]
    },
    {
        "id": "10971beb.1b4a04",
        "type": "influxdb out",
        "z": "67deb464.98214c",
        "influxdb": "9dbdc7c7.624238",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 860,
        "y": 660,
        "wires": []
    },
    {
        "id": "e0547916.327208",
        "type": "influxdb out",
        "z": "67deb464.98214c",
        "influxdb": "9de2e4ed.fdcfc8",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 840,
        "y": 700,
        "wires": []
    },
    {
        "id": "512538b0.5a6508",
        "type": "function",
        "z": "6f8bad2c.1afba4",
        "name": "Invert lockstate for domoticz",
        "func": "if (msg.subType == 36) {\n    if (msg.payload== \"1\") msg.payload=\"0\";\n    else msg.payload=\"1\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "5eb7d7fc.255518"
            ]
        ]
    },
    {
        "id": "e0d22f89.d2c0c",
        "type": "function",
        "z": "6f8bad2c.1afba4",
        "name": "Invert lockstate for domoticz",
        "func": "if (msg.subType == 36) {\n    if (msg.payload== \"1\") msg.payload=\"0\";\n    else msg.payload=\"1\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "a1a9f201.3f3cb"
            ]
        ]
    },
    {
        "id": "152aa65b.9bbe4a",
        "type": "file",
        "z": "67deb464.98214c",
        "name": "Battery log",
        "filename": "/var/tmp/battlog.txt",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 1270,
        "y": 800,
        "wires": []
    },
    {
        "id": "ea6fe8fe.44f818",
        "type": "function",
        "z": "67deb464.98214c",
        "name": "inject date",
        "func": "var date = new Date();\nvar str = date.getFullYear() + \"-\" + (date.getMonth() + 1) + \"-\" + date.getDate() + \" \" +  date.getHours() + \":\" + date.getMinutes() + \":\" + date.getSeconds();\nmsg.payload = str + \" - \" + msg.payload + '\\r\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 800,
        "wires": [
            [
                "152aa65b.9bbe4a"
            ]
        ]
    },
    {
        "id": "18a81e89.0c0de1",
        "type": "function",
        "z": "67deb464.98214c",
        "name": "Check batt level",
        "func": "var date = new Date();\nvar str = date.getFullYear() + \"-\" + (date.getMonth() + 1) + \"-\" + date.getDate() + \" \" +  date.getHours() + \":\" + date.getMinutes() + \":\" + date.getSeconds();\nmsg.date = str;\nif (parseInt(msg.payload)<5)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 840,
        "wires": [
            [
                "4dac1238.58ab8c"
            ]
        ]
    },
    {
        "id": "4dac1238.58ab8c",
        "type": "template",
        "z": "67deb464.98214c",
        "name": "BatLow message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{date}} - Battery level is low on node {{nodeId}} : {{payload}} !",
        "x": 1070,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "9006f34d.21edb",
        "type": "file",
        "z": "67deb464.98214c",
        "name": "Presentation log",
        "filename": "/var/tmp/presentation.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 1060,
        "y": 880,
        "wires": []
    },
    {
        "id": "37bd13ba.bf02cc",
        "type": "mysencode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": false,
        "x": 870,
        "y": 800,
        "wires": [
            [
                "ea6fe8fe.44f818"
            ]
        ]
    },
    {
        "id": "9377f219.616f2",
        "type": "mysencode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": false,
        "x": 870,
        "y": 880,
        "wires": [
            [
                "9006f34d.21edb"
            ]
        ]
    },
    {
        "id": "abd263fa.807d3",
        "type": "function",
        "z": "67deb464.98214c",
        "name": "Filter battery msg",
        "func": "var battMsg = null;\nvar debugMsg = null;\nvar sketchMsg = null;\nif (msg.messageType==3) {\n    if (msg.subType===0)\n        battMsg = msg;\n    if (msg.subType==9)\n        debugMsg = msg;\n    if (msg.subType==11 || msg.subType==12)\n        sketchMsg = msg;\n}\n\nreturn [battMsg, sketchMsg, debugMsg];",
        "outputs": "3",
        "noerr": 0,
        "x": 630,
        "y": 860,
        "wires": [
            [
                "18a81e89.0c0de1",
                "37bd13ba.bf02cc"
            ],
            [
                "9377f219.616f2"
            ],
            [
                "9ebb1391.6144f"
            ]
        ]
    },
    {
        "id": "9b680d80.3b1fd",
        "type": "mqtt in",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "chromecast/play",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "644f494a.1667f8"
            ]
        ]
    },
    {
        "id": "644f494a.1667f8",
        "type": "json",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 760,
        "wires": [
            [
                "48f7a502.c8568c"
            ]
        ]
    },
    {
        "id": "48f7a502.c8568c",
        "type": "function",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "func": "let p = msg.payload;\nlet chrome = 'audio';\nif (p.media === 'video/mp4') {\n    chrome = 'cast';\n}\n\nmsg.topic = 'chromecast/' + chrome + '/control/play';\nmsg.payload = p.id;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 760,
        "wires": [
            [
                "432bcac7.661c94",
                "a677b25e.7eeba"
            ]
        ]
    },
    {
        "id": "432bcac7.661c94",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "a677b25e.7eeba",
        "type": "mqtt out",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 610,
        "y": 780,
        "wires": []
    },
    {
        "id": "ace34323.962d5",
        "type": "comment",
        "z": "d2be3a2a.67d4b8",
        "name": "Cast a predefined stream to active chromecast",
        "info": "Detects which chromecast is active, and send play command to the right device",
        "x": 210,
        "y": 720,
        "wires": []
    },
    {
        "id": "ff1c1d34.07702",
        "type": "comment",
        "z": "d2be3a2a.67d4b8",
        "name": "MQTT -> control media endpoint",
        "info": "",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "b3ccceab.07286",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Skip fwd",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "command": "%7B%22command%22::%22ChapterNext%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008443%22%7D",
        "repeat": "1",
        "x": 820,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a0ecd37f.01d88",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Skip back",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "command": "%7B%22command%22::%22ChapterPrev%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008443%22%7D",
        "repeat": "1",
        "x": 820,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d2cb106b.f2fd",
        "type": "json",
        "z": "d9d4d547.6a9438",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "7067eb38.1ac8a4",
                "7c9713c8.141b3c"
            ]
        ]
    },
    {
        "id": "93db9480.3ed028",
        "type": "debug",
        "z": "9292e51b.eaf788",
        "name": "Energy",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1320,
        "y": 140,
        "wires": []
    },
    {
        "id": "38e6a224.5938ee",
        "type": "serial in",
        "z": "9292e51b.eaf788",
        "name": "Meter input",
        "serial": "acfe3226.5301d",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "5840b686.2bfc48"
            ]
        ]
    },
    {
        "id": "365e7716.b78748",
        "type": "mysencap",
        "z": "9292e51b.eaf788",
        "name": "",
        "nodeid": "99",
        "childid": "1",
        "subtype": "17",
        "internal": "0",
        "ack": false,
        "msgtype": "1",
        "presentation": false,
        "presentationtype": "13",
        "presentationtext": "Watt",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 880,
        "y": 140,
        "wires": [
            [
                "53c8aa80.0c7564",
                "1ebdd70b.08e2b9"
            ]
        ]
    },
    {
        "id": "88801b19.982088",
        "type": "mysencap",
        "z": "9292e51b.eaf788",
        "name": "",
        "nodeid": "99",
        "childid": "1",
        "subtype": "18",
        "internal": "0",
        "ack": false,
        "msgtype": "1",
        "presentation": true,
        "presentationtype": "14",
        "presentationtext": "Kwh",
        "fullpresentation": true,
        "firmwarename": "MeterNode",
        "firmwareversion": "0.1",
        "x": 880,
        "y": 180,
        "wires": [
            [
                "53c8aa80.0c7564"
            ]
        ]
    },
    {
        "id": "15fc2499.4a078b",
        "type": "function",
        "z": "9292e51b.eaf788",
        "name": "Split meter data",
        "func": "var m=msg.payload.split(';');\n// Filtering away unrealistic high usage above 50KW\nif (Number(m[0]) < 50000) {\n    var msg1 = {payload:m[0]};\n    var msg2 = {payload:m[1]/1000};\n    var msg3 = {payload:m[1]};\n    return [msg1, msg2, msg3];\n}\n",
        "outputs": 3,
        "noerr": 0,
        "x": 320,
        "y": 660,
        "wires": [
            [],
            [],
            [
                "367d442c.25478c"
            ]
        ]
    },
    {
        "id": "21c196cd.d0a07a",
        "type": "mysencap",
        "z": "9292e51b.eaf788",
        "name": "",
        "nodeid": "99",
        "childid": "2",
        "subtype": "17",
        "internal": 0,
        "ack": false,
        "msgtype": "1",
        "presentation": false,
        "presentationtype": 0,
        "presentationtext": "",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 880,
        "y": 220,
        "wires": [
            [
                "53c8aa80.0c7564"
            ]
        ]
    },
    {
        "id": "367d442c.25478c",
        "type": "function",
        "z": "9292e51b.eaf788",
        "name": "Watt/Hour calculator",
        "func": "/* Takes input on subType 24, calculates difference\n   from last time, if around 60 seconds have passed\n   since last report.\n   It passes the value on as subType 17, and\n   childSensorId 2 */\n   \nvar uTime = Math.floor(Date.now()/60000);\nvar lastTime = context.get('lastTime')||0;\nif (lastTime === 0) {\n    context.set('lastTime', uTime);\n    context.set('lastCount', Number(msg.payload));\n} else {\n    if (uTime != lastTime) {\n        lastCount = context.get('lastCount');\n        currentCount = Number(msg.payload);\n        context.set('lastTime', uTime);\n        context.set('lastCount', currentCount)\n        msg.payload = currentCount - lastCount;\n        return msg;\n    }\n}\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "877c9a2a.f2b718",
        "type": "function",
        "z": "9292e51b.eaf788",
        "name": "create query",
        "func": "var d = new Date();\nd.setHours(0,0,0,0);\nmsg.time = (1 * d.getTime())/1000;\nmsg.time = d.toISOString(); //ISODateString(d);\nmsg.query = \"select sum(value) from electricity where node='99' and sensor='2' and time>'\"+msg.time+\"'\"; //+msg.time;\nmsg.payload = '';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "7b27ab5a.85b6e4"
            ]
        ]
    },
    {
        "id": "7b27ab5a.85b6e4",
        "type": "influxdb in",
        "z": "9292e51b.eaf788",
        "influxdb": "9d8c74dc.570ca8",
        "name": "influx lookup",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "fb4c20b9.91577"
            ]
        ]
    },
    {
        "id": "dcf57024.11b3",
        "type": "mysencap",
        "z": "9292e51b.eaf788",
        "name": "",
        "nodeid": "99",
        "childid": "2",
        "subtype": "18",
        "internal": 0,
        "ack": false,
        "msgtype": "1",
        "presentation": false,
        "presentationtype": 0,
        "presentationtext": "",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 880,
        "y": 260,
        "wires": [
            [
                "53c8aa80.0c7564"
            ]
        ]
    },
    {
        "id": "74c533e0.3cb1cc",
        "type": "inject",
        "z": "9292e51b.eaf788",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "877c9a2a.f2b718"
            ]
        ]
    },
    {
        "id": "fb4c20b9.91577",
        "type": "change",
        "z": "9292e51b.eaf788",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].sum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 260,
        "wires": [
            [
                "dcf57024.11b3"
            ]
        ]
    },
    {
        "id": "53c8aa80.0c7564",
        "type": "mysencode",
        "z": "9292e51b.eaf788",
        "name": "",
        "mqtt": true,
        "mqtttopic": "mys-in",
        "x": 1190,
        "y": 200,
        "wires": [
            [
                "93db9480.3ed028",
                "db003884.353ea8"
            ]
        ]
    },
    {
        "id": "e143de62.fdaf9",
        "type": "mqtt out",
        "z": "9292e51b.eaf788",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1290,
        "y": 360,
        "wires": []
    },
    {
        "id": "651925b2.e10b5c",
        "type": "comment",
        "z": "9292e51b.eaf788",
        "name": "Utility meter input conversion.",
        "info": "Input from arduino measuring pulses on my utility meter.\n\nFor code / examples, see [this github repository](https://github.com/tbowmo/energyPulseCounter)\n\nBasically converts the input format from the serial port, into a fake mysensors sensor,\nin order to use it in other parts of the nodered flow, as a standard mysensors sensor.\n\nthe incoming serial format is like:\n\nWWW;PPP;EEE\\r\\n\n\nWWW -> Watts\nPPP -> Pulse counts (1 pulse per Wh)\nEEE -> ElapsedkWh calculated by arduino (not used here though);\n\nSplit out into distinct parts, and fed onto the rest of the system as mysensors data on the MQTT bus",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "40b30e19.03a88",
        "type": "comment",
        "z": "d9d4d547.6a9438",
        "name": "Stop chromecasts",
        "info": "Sends quit command to chromecasts, when we switch away from the streaming scenes,\nthis should stop chromecasts from streaming any content.\n",
        "x": 130,
        "y": 460,
        "wires": []
    },
    {
        "id": "188c430.a9272bd",
        "type": "comment",
        "z": "d9d4d547.6a9438",
        "name": "Stores sensor data in a local flow variable",
        "info": "This is for other automation rules on the page, so they can be used in other parts fo the flow",
        "x": 200,
        "y": 620,
        "wires": []
    },
    {
        "id": "7c9713c8.141b3c",
        "type": "change",
        "z": "d9d4d547.6a9438",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "avctrl",
                "pt": "global",
                "to": "$lowercase(payload.activityName)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "6bab362a.1710c8",
        "type": "change",
        "z": "d9d4d547.6a9438",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dayLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "bbf5ae2e.10df2",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "c292fcc.658c8",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 880,
        "y": 560,
        "wires": []
    },
    {
        "id": "5f5085ce.59c7bc",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "chromecast/state",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "771293de.2a807c"
            ]
        ]
    },
    {
        "id": "771293de.2a807c",
        "type": "change",
        "z": "d9d4d547.6a9438",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "chromestate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 800,
        "wires": [
            [
                "ee655af3.b9e1b8"
            ]
        ]
    },
    {
        "id": "bfa30dc8.1e214",
        "type": "mqtt out",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "avctrl/in/control",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1120,
        "y": 260,
        "wires": []
    },
    {
        "id": "d40036e7.baedd8",
        "type": "mqtt in",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "roku/keypress",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 770,
        "y": 260,
        "wires": [
            [
                "e7726249.7e6c",
                "fd9f2383.3a4e5"
            ]
        ]
    },
    {
        "id": "e7726249.7e6c",
        "type": "function",
        "z": "d2be3a2a.67d4b8",
        "name": "translate roku",
        "func": "state = global.get('chromestate');\nmsg.payload = msg.payload.toLowerCase();\nif (state == 'PLAYING' && msg.payload == 'play') {\n    msg.payload = 'pause';\n} \nif (msg.payload == 'back') {\n    msg.payload = 'stop';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 260,
        "wires": [
            [
                "bfa30dc8.1e214",
                "fcfb9705.c45cf8"
            ]
        ]
    },
    {
        "id": "fcfb9705.c45cf8",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "ee655af3.b9e1b8",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 640,
        "y": 800,
        "wires": []
    },
    {
        "id": "2aadd645.74b1ba",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "db003884.353ea8",
        "type": "function",
        "z": "9292e51b.eaf788",
        "name": "",
        "func": "msg.retain = false;\n// All normal SET commands are retained\n// And all battery level values as well\n// This mimicks MY_MQTT_CLIENT_PUBLISH_RETAIN option in a MQTT gateway\nif ((msg.messageType === 1) || \n    (msg.messageType === 3 && msg.subType === 0)) {\n    msg.retain = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 360,
        "wires": [
            [
                "e143de62.fdaf9"
            ]
        ]
    },
    {
        "id": "1a27e97c.c38e17",
        "type": "mqtt out",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "4798f2b0.5d747c",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "26b5be01.132fb2",
        "type": "change",
        "z": "67deb464.98214c",
        "name": "dashboard",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "mys-in",
                "fromt": "str",
                "to": "dashboard/sensors",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "1a27e97c.c38e17",
                "45051934.52aba8",
                "8d389e7d.5e05d"
            ]
        ]
    },
    {
        "id": "4ce8d483.71075c",
        "type": "comment",
        "z": "67deb464.98214c",
        "name": "Rebroadcast for dashboard and enrich with timestamp",
        "info": "Below is rebroadcasting sensor data (set commands) to the dashboard, with retention bit set to true",
        "x": 260,
        "y": 400,
        "wires": []
    },
    {
        "id": "9b9f22ed.a2e88",
        "type": "mqtt in",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "mys-in/+/+/1/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "26b5be01.132fb2"
            ]
        ]
    },
    {
        "id": "94475286.84cac",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "45051934.52aba8",
        "type": "change",
        "z": "67deb464.98214c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "sensors",
                "fromt": "str",
                "to": "timestamp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 440,
        "wires": [
            [
                "1a27e97c.c38e17",
                "94475286.84cac"
            ]
        ]
    },
    {
        "id": "b01dec45.251e2",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "video",
        "group": "940310ee.5c533",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-youtube",
        "payload": "video",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 570,
        "y": 80,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "23292fa9.040ab",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "audio",
        "group": "940310ee.5c533",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-headphones",
        "payload": "audio",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "4af68bad.ce2b94",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "off",
        "group": "940310ee.5c533",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-power-off",
        "payload": "off",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "26dc5202.4d769e",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "wii",
        "group": "940310ee.5c533",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-gamepad",
        "payload": "wii",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "e0177610.91e588",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "dvd",
        "group": "940310ee.5c533",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-film",
        "payload": "dvd",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "f4600e81.5e424",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "tv",
        "group": "940310ee.5c533",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-tv",
        "payload": "tv",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 570,
        "y": 40,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "2b694d0f.e34bb2",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "play",
        "group": "940310ee.5c533",
        "order": 11,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-play",
        "payload": "play",
        "payloadType": "str",
        "topic": "avctrl/in/control",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "e5bc3241.362ca",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "next",
        "group": "940310ee.5c533",
        "order": 13,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-step-forward",
        "payload": "fwd",
        "payloadType": "str",
        "topic": "avctrl/in/control",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "3448a92c.cd28f6",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "pause",
        "group": "940310ee.5c533",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-pause",
        "payload": "pause",
        "payloadType": "str",
        "topic": "avctrl/in/control",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "2d030f32.87b91",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "stop",
        "group": "940310ee.5c533",
        "order": 14,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-stop",
        "payload": "stop",
        "payloadType": "str",
        "topic": "avctrl/in/control",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "5b1b4e24.df44f",
        "type": "mqtt out",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "8080b2dc.bb357",
        "type": "mqtt in",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "topic": "chromecast/state",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "f56bea63.b03558"
            ]
        ]
    },
    {
        "id": "f56bea63.b03558",
        "type": "function",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "func": "if (msg.payload === \"PLAYING\") {\n    msg1 = {\"enabled\": false};\n    msg2 = {\"enabled\": true};\n}\nelse {\n    msg1 = {\"enabled\": true};\n    msg2 = {\"enabled\": false};\n}\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "2b694d0f.e34bb2",
                "5794e436.a8e46c"
            ],
            [
                "3448a92c.cd28f6",
                "611dc5ec.eacddc"
            ]
        ]
    },
    {
        "id": "5794e436.a8e46c",
        "type": "debug",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "611dc5ec.eacddc",
        "type": "debug",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "859b0f0d.32dcc",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "rev",
        "group": "940310ee.5c533",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-step-backward",
        "payload": "rev",
        "payloadType": "str",
        "topic": "avctrl/in/control",
        "x": 570,
        "y": 440,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "495277e3.cbb4c8",
        "type": "ui_text",
        "z": "c6ae2dfb.adbb9",
        "group": "940310ee.5c533",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "AV Status",
        "format": "{{msg.payload.activityName}}",
        "layout": "col-center",
        "x": 520,
        "y": 680,
        "wires": []
    },
    {
        "id": "50748519.51f8ac",
        "type": "mqtt in",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "topic": "avctrl/out/scene",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "22dd03ce.04215c"
            ]
        ]
    },
    {
        "id": "22dd03ce.04215c",
        "type": "json",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 680,
        "wires": [
            [
                "495277e3.cbb4c8"
            ]
        ]
    },
    {
        "id": "dd9635e0.17ecb8",
        "type": "ui_template",
        "z": "c6ae2dfb.adbb9",
        "group": "940310ee.5c533",
        "name": "",
        "order": 8,
        "width": "6",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload.title\"></div>\n<div ng-bind-html=\"msg.payload.artist\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 520,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c10a65f4.cfa908",
        "type": "mqtt in",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "topic": "chromecast/+/media",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "698266ea.461968"
            ]
        ]
    },
    {
        "id": "698266ea.461968",
        "type": "json",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 760,
        "wires": [
            [
                "dd9635e0.17ecb8"
            ]
        ]
    },
    {
        "id": "c700163c.9dcd78",
        "type": "ui_text",
        "z": "c6ae2dfb.adbb9",
        "group": "940310ee.5c533",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Chrome",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "e3468af8.200bc8",
        "type": "mqtt in",
        "z": "c6ae2dfb.adbb9",
        "name": "",
        "topic": "chromecast/+/app",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "c700163c.9dcd78"
            ]
        ]
    },
    {
        "id": "de738b79.de56d8",
        "type": "comment",
        "z": "c6ae2dfb.adbb9",
        "name": "AV / Chromecast status display",
        "info": "",
        "x": 250,
        "y": 640,
        "wires": []
    },
    {
        "id": "1bcbf9c.7dbb706",
        "type": "ui_switch",
        "z": "36f02452.2e99bc",
        "name": "",
        "label": "Sofabord",
        "group": "bf3de794.50d788",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/14/1/1/0/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1100,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "72e898b8.f31438",
        "type": "ui_slider",
        "z": "36f02452.2e99bc",
        "name": "slider sofabord",
        "label": "",
        "group": "bf3de794.50d788",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "mys-out/14/1/1/0/3",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 1120,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "42d6e2a6.8c4b8c",
        "type": "ui_switch",
        "z": "36f02452.2e99bc",
        "name": "",
        "label": "Spisebord",
        "group": "bf3de794.50d788",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/14/1/1/0/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1100,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6783981c.bb1388",
        "type": "ui_slider",
        "z": "36f02452.2e99bc",
        "name": "slider spise",
        "label": "",
        "group": "bf3de794.50d788",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "mys-out/14/1/1/0/3",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 1110,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6e0a1a33.ed0424",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "mute",
        "group": "940310ee.5c533",
        "order": 15,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-volume-off",
        "payload": "mute",
        "payloadType": "str",
        "topic": "avctrl/in/control",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "82bd9383.cc47a",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "volume down",
        "group": "940310ee.5c533",
        "order": 16,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-volume-down",
        "payload": "volumedown",
        "payloadType": "str",
        "topic": "avctrl/in/control",
        "x": 590,
        "y": 560,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "d595e647.220808",
        "type": "ui_button",
        "z": "c6ae2dfb.adbb9",
        "name": "volume-up",
        "group": "940310ee.5c533",
        "order": 17,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-volume-up",
        "payload": "volumeup",
        "payloadType": "str",
        "topic": "avctrl/in/control",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "5b1b4e24.df44f"
            ]
        ]
    },
    {
        "id": "4d526df.5ec6c94",
        "type": "mqtt in",
        "z": "7acba262.c6674c",
        "name": "",
        "topic": "light/+/state",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "3bade47b.4b626c"
            ]
        ]
    },
    {
        "id": "c1363e20.1d707",
        "type": "switch",
        "z": "7acba262.c6674c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/sofa/",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/sofabord/",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/spisebord/",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "2b93b83a.7882b8"
            ],
            [
                "7ba4fcfc.49e614"
            ],
            [
                "2fc5a5c3.d581fa"
            ]
        ]
    },
    {
        "id": "2b93b83a.7882b8",
        "type": "function",
        "z": "7acba262.c6674c",
        "name": "",
        "func": "// dashboard/sensors/14/1/1/+/2\nstate = Number(global.get('sensor14_1_2') | 0);\nlevel = Number(global.get('sensor14_1_3') | 0);\nstate = (state === 0) ? false : true;\nmsg.payload = {\"on\": state, \"brightness\": level, \"alive\": true};\nmsg.topic = 'light/sofa/state';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "3168f097.a1da",
                "10424d38.e1f753"
            ]
        ]
    },
    {
        "id": "3168f097.a1da",
        "type": "mqtt out",
        "z": "7acba262.c6674c",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "10424d38.e1f753",
        "type": "debug",
        "z": "7acba262.c6674c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "e1d82bc5.3d0058",
        "type": "mqtt in",
        "z": "7acba262.c6674c",
        "name": "",
        "topic": "mys-in/14/1/1/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "2b93b83a.7882b8"
            ]
        ]
    },
    {
        "id": "3bade47b.4b626c",
        "type": "switch",
        "z": "7acba262.c6674c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "c1363e20.1d707"
            ]
        ]
    },
    {
        "id": "f92b670d.9328f8",
        "type": "mqtt in",
        "z": "7acba262.c6674c",
        "name": "",
        "topic": "light/+/set",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "92bd49eb.883998",
                "8f7c84a4.b32888"
            ]
        ]
    },
    {
        "id": "92bd49eb.883998",
        "type": "json",
        "z": "7acba262.c6674c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "a646dc17.498"
            ]
        ]
    },
    {
        "id": "1ad87b82.0e4464",
        "type": "change",
        "z": "7acba262.c6674c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.brightness",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mys-out/14/1/1/1/3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 380,
        "wires": [
            [
                "a254b86b.f8d1b8",
                "ffcfc678.fbfbb8"
            ]
        ]
    },
    {
        "id": "ffcfc678.fbfbb8",
        "type": "debug",
        "z": "7acba262.c6674c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "f75baac1.67c5f8",
        "type": "debug",
        "z": "7acba262.c6674c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "a63f9630.8c9788",
        "type": "function",
        "z": "7acba262.c6674c",
        "name": "",
        "func": "pl = msg.payload;\nmsg.payload = {\"brightness\": pl.brightness, \"on\": pl.on, \"alive\": pl.alive}; \nif (pl.id === 65537) {\n    msg.topic = \"light/sofabord/state\";\n}\nif (pl.id === 65540) {\n    msg.topic = \"light/spisebord/state\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "f75baac1.67c5f8",
                "3168f097.a1da"
            ]
        ]
    },
    {
        "id": "a254b86b.f8d1b8",
        "type": "mqtt out",
        "z": "7acba262.c6674c",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "1df6b47f.4eeffc",
        "type": "switch",
        "z": "7acba262.c6674c",
        "name": "",
        "property": "payload.on",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "1ad87b82.0e4464"
            ],
            [
                "db18701f.63133"
            ]
        ]
    },
    {
        "id": "db18701f.63133",
        "type": "change",
        "z": "7acba262.c6674c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mys-out/14/1/1/1/2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 420,
        "wires": [
            [
                "a254b86b.f8d1b8",
                "ffcfc678.fbfbb8"
            ]
        ]
    },
    {
        "id": "4c4842ef.e2252c",
        "type": "debug",
        "z": "7acba262.c6674c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "7ba4fcfc.49e614",
        "type": "tradfri",
        "z": "7acba262.c6674c",
        "name": "",
        "deviceId": "65537",
        "deviceName": "sofabord",
        "connection": "97626318.9b7f2",
        "observe": true,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "a63f9630.8c9788",
                "4c4842ef.e2252c"
            ]
        ]
    },
    {
        "id": "2fc5a5c3.d581fa",
        "type": "tradfri",
        "z": "7acba262.c6674c",
        "name": "",
        "deviceId": "65540",
        "deviceName": "højre",
        "connection": "97626318.9b7f2",
        "observe": true,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "a63f9630.8c9788",
                "4c4842ef.e2252c"
            ]
        ]
    },
    {
        "id": "a646dc17.498",
        "type": "switch",
        "z": "7acba262.c6674c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/sofa/",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/sofabord/",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/spisebord/",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "1df6b47f.4eeffc"
            ],
            [
                "fabe519e.e1fe4"
            ],
            [
                "20de0513.a6603a",
                "1fc60157.e2341f"
            ]
        ]
    },
    {
        "id": "1fc60157.e2341f",
        "type": "tradfri",
        "z": "7acba262.c6674c",
        "name": "",
        "deviceId": "65540",
        "deviceName": "højre",
        "connection": "97626318.9b7f2",
        "observe": false,
        "x": 590,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "20de0513.a6603a",
        "type": "tradfri",
        "z": "7acba262.c6674c",
        "name": "",
        "deviceId": "65542",
        "deviceName": "venstre",
        "connection": "97626318.9b7f2",
        "observe": false,
        "x": 600,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "fabe519e.e1fe4",
        "type": "tradfri",
        "z": "7acba262.c6674c",
        "name": "",
        "deviceId": "65537",
        "deviceName": "sofabord",
        "connection": "97626318.9b7f2",
        "observe": false,
        "x": 600,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8f7c84a4.b32888",
        "type": "debug",
        "z": "7acba262.c6674c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 320,
        "y": 360,
        "wires": []
    },
    {
        "id": "71d6bbea.c9f064",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 460,
        "wires": []
    },
    {
        "id": "f05a9b71.bdc548",
        "type": "mqtt in",
        "z": "f3e95c3b.5524b",
        "name": "",
        "topic": "voice/in",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "1b3e3ce8.dc7b83"
            ]
        ]
    },
    {
        "id": "8d623d2b.ac59a",
        "type": "switch",
        "z": "f3e95c3b.5524b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(play|list).*channel",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "((media|radio|tv|music).*(pause|stop|resume|next|play)|(pause|stop|resume|next|play).*(media|radio|tv|music))",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "what.*is.*playing",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*bedtime.*",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "13990357.2fa28d"
            ],
            [
                "c6f6e7a6.7ecf88",
                "49a90932.332258"
            ],
            [
                "15b9f9b2.5f9d56"
            ],
            [
                "97c43bb6.8f3678"
            ],
            [
                "ec4f3c5b.b6359"
            ]
        ]
    },
    {
        "id": "9b19a240.8435c",
        "type": "mqtt out",
        "z": "f3e95c3b.5524b",
        "name": "",
        "topic": "voice/out/da",
        "qos": "",
        "retain": "",
        "broker": "4798f2b0.5d747c",
        "x": 1390,
        "y": 220,
        "wires": []
    },
    {
        "id": "c903ba75.e7ccf8",
        "type": "change",
        "z": "f3e95c3b.5524b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "voice",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "8d623d2b.ac59a",
                "32ed81c0.bae54e"
            ]
        ]
    },
    {
        "id": "63552f4.e48ecd",
        "type": "function",
        "z": "f3e95c3b.5524b",
        "name": "",
        "func": "regex = /.*(\\d)/\nm = regex.exec(msg.voice);\nch = msg.payload[Number(m[1])-1];\nmsg.payload = ch;\nvoice = {\"payload\": \"Afspiller \" + ch.friendly}; \nreturn [msg, voice];",
        "outputs": 2,
        "noerr": 0,
        "x": 1150,
        "y": 120,
        "wires": [
            [
                "56fac17e.4bb53",
                "f31500d9.583fa"
            ],
            [
                "64308672.fd6d48"
            ]
        ]
    },
    {
        "id": "f31500d9.583fa",
        "type": "mqtt out",
        "z": "f3e95c3b.5524b",
        "name": "",
        "topic": "chromecast/play",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1400,
        "y": 100,
        "wires": []
    },
    {
        "id": "576a510c.6107f",
        "type": "mqtt out",
        "z": "f3e95c3b.5524b",
        "name": "",
        "topic": "voice/out/da",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 690,
        "y": 760,
        "wires": []
    },
    {
        "id": "ec4f3c5b.b6359",
        "type": "template",
        "z": "f3e95c3b.5524b",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Jeg forstod ikke helt din forespørgsel, prøv igen",
        "output": "str",
        "x": 530,
        "y": 760,
        "wires": [
            [
                "576a510c.6107f"
            ]
        ]
    },
    {
        "id": "e112c05c.b00f4",
        "type": "http request",
        "z": "f3e95c3b.5524b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://jarvis:8181/audio/list",
        "tls": "",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "658f66c2.d7a0d8"
            ]
        ]
    },
    {
        "id": "13990357.2fa28d",
        "type": "switch",
        "z": "f3e95c3b.5524b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "radio",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "tv",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "e112c05c.b00f4"
            ],
            [
                "ef0ece4a.4ad98"
            ]
        ]
    },
    {
        "id": "ef0ece4a.4ad98",
        "type": "http request",
        "z": "f3e95c3b.5524b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "http://jarvis:8181/video/list",
        "tls": "",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "658f66c2.d7a0d8"
            ]
        ]
    },
    {
        "id": "658f66c2.d7a0d8",
        "type": "json",
        "z": "f3e95c3b.5524b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 860,
        "y": 180,
        "wires": [
            [
                "e8d829b1.2170a8"
            ]
        ]
    },
    {
        "id": "e34cb009.9285d",
        "type": "function",
        "z": "f3e95c3b.5524b",
        "name": "",
        "func": "pl = msg.payload;\ntext = \"\";\nif (msg.voice.includes('radio')) {\n    text = \"Radio kanaler.\\r\\n\";\n}\nelse {\n    text = \"TV kanaler.\\r\\n\";\n}\n\nfor (var i = 0; i < pl.length; i++) {\n    text += \"kanal \" +(i+1)+\" \" + pl[i].friendly + \".\\r\\n\"\n}\nmsg.payload = text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 240,
        "wires": [
            [
                "9b19a240.8435c",
                "e1993450.6fdaf8"
            ]
        ]
    },
    {
        "id": "e1993450.6fdaf8",
        "type": "debug",
        "z": "f3e95c3b.5524b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 260,
        "wires": []
    },
    {
        "id": "64308672.fd6d48",
        "type": "mqtt out",
        "z": "f3e95c3b.5524b",
        "name": "",
        "topic": "voice/out/da",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1390,
        "y": 140,
        "wires": []
    },
    {
        "id": "56fac17e.4bb53",
        "type": "debug",
        "z": "f3e95c3b.5524b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 60,
        "wires": []
    },
    {
        "id": "1b3e3ce8.dc7b83",
        "type": "change",
        "z": "f3e95c3b.5524b",
        "name": "replace one > 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " one ",
                "fromt": "str",
                "to": " 1 ",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " one$",
                "fromt": "re",
                "to": " 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "c903ba75.e7ccf8"
            ]
        ]
    },
    {
        "id": "e8d829b1.2170a8",
        "type": "switch",
        "z": "f3e95c3b.5524b",
        "name": "",
        "property": "voice",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "play",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "list",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 180,
        "wires": [
            [
                "63552f4.e48ecd"
            ],
            [
                "e34cb009.9285d"
            ]
        ]
    },
    {
        "id": "15b9f9b2.5f9d56",
        "type": "change",
        "z": "f3e95c3b.5524b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "playing",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 520,
        "wires": [
            [
                "77f10146.752f6"
            ]
        ]
    },
    {
        "id": "9a522fd3.f91f1",
        "type": "mqtt in",
        "z": "f3e95c3b.5524b",
        "name": "",
        "topic": "chromecast/media",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "5d6e922e.c661cc"
            ]
        ]
    },
    {
        "id": "6565846f.6ba38c",
        "type": "change",
        "z": "f3e95c3b.5524b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "playing",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "5d6e922e.c661cc",
        "type": "json",
        "z": "f3e95c3b.5524b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "6565846f.6ba38c"
            ]
        ]
    },
    {
        "id": "77f10146.752f6",
        "type": "template",
        "z": "f3e95c3b.5524b",
        "name": "playing track info",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Spiller \"{{payload.title}}\" af \"{{payload.artist}}\"",
        "output": "str",
        "x": 770,
        "y": 520,
        "wires": [
            [
                "e0ada975.f0dc78",
                "7c13b786.b0bbe8"
            ]
        ]
    },
    {
        "id": "e0ada975.f0dc78",
        "type": "debug",
        "z": "f3e95c3b.5524b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "7c13b786.b0bbe8",
        "type": "mqtt out",
        "z": "f3e95c3b.5524b",
        "name": "",
        "topic": "voice/out/notranslate-da",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1010,
        "y": 540,
        "wires": []
    },
    {
        "id": "97c43bb6.8f3678",
        "type": "function",
        "z": "f3e95c3b.5524b",
        "name": "bedtime calc",
        "func": "cd = new Date();\nsengetid = 18*60;\nm = cd.getHours()*60 + cd.getMinutes();\nif (m > sengetid) {\n    msg.payload = \"Det er over jeres sengetid\";\n} else {\n    m = sengetid - m;\n    hours = Math.floor(m/60);\n    minutes = m - hours * 60;\n    if (hours > 0) {\n        msg.payload = \"Der er \" + hours + \" timer og \" + minutes + \" minutter til Magnus og Laurits skal i seng\";\n    } else {\n        msg.payload = \"Der er \" + minutes + \" minutter til Magnus og Laurits skal i seng\";\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 660,
        "wires": [
            [
                "b3bd3b4d.b64018",
                "e934344e.95a138"
            ]
        ]
    },
    {
        "id": "b3bd3b4d.b64018",
        "type": "debug",
        "z": "f3e95c3b.5524b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "32ed81c0.bae54e",
        "type": "debug",
        "z": "f3e95c3b.5524b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "5fd2dc2e.b98664",
        "type": "comment",
        "z": "f3e95c3b.5524b",
        "name": "stream predefined audio / video streams (play radio channel xx)",
        "info": "",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "b4a6d39a.af17c",
        "type": "comment",
        "z": "f3e95c3b.5524b",
        "name": "Response to \"bedtime\" calculates time till 20:00 each night (normal bedtime for kids)",
        "info": "",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "1290c358.84d4bd",
        "type": "comment",
        "z": "f3e95c3b.5524b",
        "name": "Fallback, if nothing else matches, play a standard notification back",
        "info": "",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "19efb34.edec84d",
        "type": "comment",
        "z": "f3e95c3b.5524b",
        "name": "What is playing now",
        "info": "",
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "52859ff.28ade6",
        "type": "comment",
        "z": "f3e95c3b.5524b",
        "name": "Play stream",
        "info": "",
        "x": 1170,
        "y": 80,
        "wires": []
    },
    {
        "id": "95927491.309d98",
        "type": "comment",
        "z": "f3e95c3b.5524b",
        "name": "List available streams",
        "info": "",
        "x": 1200,
        "y": 200,
        "wires": []
    },
    {
        "id": "c6f6e7a6.7ecf88",
        "type": "switch",
        "z": "f3e95c3b.5524b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(stop|quit)",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "pause",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "(resume|play)",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "(next|forward)",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "c0148786.c6f5a8"
            ],
            [
                "d6af19ec.073cf8"
            ],
            [
                "569ba770.ab0488"
            ],
            [
                "a80bdfdf.75057"
            ]
        ]
    },
    {
        "id": "84d4040c.24a6b8",
        "type": "mqtt out",
        "z": "f3e95c3b.5524b",
        "name": "",
        "topic": "avctrl/in/control",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "c0148786.c6f5a8",
        "type": "change",
        "z": "f3e95c3b.5524b",
        "name": "quit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "quit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "84d4040c.24a6b8"
            ]
        ]
    },
    {
        "id": "d6af19ec.073cf8",
        "type": "change",
        "z": "f3e95c3b.5524b",
        "name": "pause",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pause",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "84d4040c.24a6b8"
            ]
        ]
    },
    {
        "id": "569ba770.ab0488",
        "type": "change",
        "z": "f3e95c3b.5524b",
        "name": "resume",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "play",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 360,
        "wires": [
            [
                "84d4040c.24a6b8"
            ]
        ]
    },
    {
        "id": "a80bdfdf.75057",
        "type": "change",
        "z": "f3e95c3b.5524b",
        "name": "next",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "fwd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "84d4040c.24a6b8"
            ]
        ]
    },
    {
        "id": "b923212a.90b3b",
        "type": "comment",
        "z": "f3e95c3b.5524b",
        "name": "Media control (pause/resume/stop)",
        "info": "",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "e934344e.95a138",
        "type": "mqtt out",
        "z": "f3e95c3b.5524b",
        "name": "",
        "topic": "voice/out/da",
        "qos": "",
        "retain": "",
        "broker": "4798f2b0.5d747c",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "49a90932.332258",
        "type": "debug",
        "z": "f3e95c3b.5524b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "a6f70bb5.935f78",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "8d389e7d.5e05d",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "1ebdd70b.08e2b9",
        "type": "debug",
        "z": "9292e51b.eaf788",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1200,
        "y": 40,
        "wires": []
    },
    {
        "id": "fd9f2383.3a4e5",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "5840b686.2bfc48",
        "type": "function",
        "z": "9292e51b.eaf788",
        "name": "Calc meter data",
        "func": "var m=msg.payload.split(';');\n// Filtering away unrealistic high usage above 50KW\nif (Number(m[0]) < 50000) {\n    var msg1 = {payload:m[0]};\n    var msg2 = {payload:m[1]/1000};\n    var msg3 = null;\n\n    var uTime = Math.floor(Date.now()/60000);\n    var lastTime = context.get('lastTime')||0;\n    if (lastTime === 0) {\n        context.set('lastTime', uTime);\n        context.set('lastCount', Number(m[1]));\n    } else {\n        if (uTime != lastTime) {\n            lastCount = context.get('lastCount');\n            currentCount = Number(m[1]);\n            context.set('lastTime', uTime);\n            context.set('lastCount', currentCount)\n            msg3 = {payload: currentCount - lastCount};\n        }\n    }\n    return [msg1, msg2, msg3];\n}\n",
        "outputs": 3,
        "noerr": 0,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "365e7716.b78748"
            ],
            [
                "88801b19.982088"
            ],
            [
                "21c196cd.d0a07a"
            ]
        ]
    },
    {
        "id": "8faf713d.9be2c",
        "type": "mqtt in",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "mys-in/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "5277fdb6.da1344"
            ]
        ]
    },
    {
        "id": "17c613bf.8b1b8c",
        "type": "mqtt out",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4798f2b0.5d747c",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "5277fdb6.da1344",
        "type": "myscontroller",
        "z": "67deb464.98214c",
        "database": "ed2765a5.dc9328",
        "name": "controller",
        "handleid": true,
        "timeresponse": true,
        "timezone": "Europe/Copenhagen",
        "measurementsystem": "M",
        "mqttroot": "mys-out",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "17c613bf.8b1b8c",
                "91fdce7d.33a12"
            ]
        ]
    },
    {
        "id": "91fdce7d.33a12",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "4fbfed2b.777914",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 910,
        "y": 60,
        "wires": []
    },
    {
        "id": "25943056.8c867",
        "type": "inject",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "thomas",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "ebf8b052.43e42"
            ]
        ]
    },
    {
        "id": "b042d12e.b07b2",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "thomas",
        "server": "56b003cf.93c9bc",
        "activity": "24516381",
        "label": "Lyt til CD",
        "x": 480,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "a7634845.276fc8",
        "type": "inject",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "b042d12e.b07b2"
            ]
        ]
    },
    {
        "id": "3acf5600.83edda",
        "type": "mqtt out",
        "z": "353b452d.9a6efa",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "4798f2b0.5d747c",
        "x": 1230,
        "y": 500,
        "wires": []
    },
    {
        "id": "68561c.6e57e9e4",
        "type": "mqtt in",
        "z": "353b452d.9a6efa",
        "name": "",
        "topic": "dashboard/sensors/21/1/1/+/16",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "cf90fe44.df54c"
            ]
        ]
    },
    {
        "id": "cf90fe44.df54c",
        "type": "mysdecode",
        "z": "353b452d.9a6efa",
        "database": "ed2765a5.dc9328",
        "name": "",
        "mqtt": true,
        "enrich": true,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "7992ae8a.65d77"
            ]
        ]
    },
    {
        "id": "7c06d8c4.9d0918",
        "type": "influxdb out",
        "z": "67deb464.98214c",
        "influxdb": "d972b17e.bb915",
        "name": "",
        "measurement": "sensors",
        "precision": "",
        "retentionPolicy": "",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "f4b897e2.e41428",
        "type": "function",
        "z": "67deb464.98214c",
        "name": "",
        "func": "var tags = {};var data = {}\ntags.node = msg.nodeId.toString();\ntags.sensor = msg.childSensorId.toString();\ntags.subType = msg.subTypeStr;\ndata.value=parseFloat(msg.payload);\nif (!isNaN(data.value)) {\n    msg.payload = [data, tags];\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "7c06d8c4.9d0918",
                "94ef2e21.f481"
            ]
        ]
    },
    {
        "id": "eec30a1f.d7c4a8",
        "type": "rbe",
        "z": "67deb464.98214c",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "98e4708e.a7886"
            ]
        ]
    },
    {
        "id": "98e4708e.a7886",
        "type": "mysdecode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": true,
        "x": 400,
        "y": 600,
        "wires": [
            [
                "f4b897e2.e41428"
            ]
        ]
    },
    {
        "id": "94ef2e21.f481",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "82d1c041.0f272",
        "type": "debug",
        "z": "353b452d.9a6efa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1250,
        "y": 540,
        "wires": []
    },
    {
        "id": "3fe0e515.5a651a",
        "type": "function",
        "z": "353b452d.9a6efa",
        "name": "Gate logic",
        "func": "var date = new Date();\nvar current_hour = date.getHours();\n\nvar openState = global.get('sensor21_1_16') || '1';\nif (msg.payload === \"1\" && openState === \"0\") {\n    if (current_hour >= 6) {    \n        return msg;\n    }\n} else if (msg.payload === \"0\" && openState === \"1\") {\n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 520,
        "wires": [
            [
                "82d1c041.0f272",
                "3acf5600.83edda"
            ]
        ]
    },
    {
        "id": "b44a5f98.b7e1e",
        "type": "debug",
        "z": "353b452d.9a6efa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1030,
        "y": 560,
        "wires": []
    },
    {
        "id": "7992ae8a.65d77",
        "type": "ui_switch",
        "z": "353b452d.9a6efa",
        "name": "",
        "label": "Hønselem",
        "group": "d9490c52.897ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "fa-fire",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "close",
        "offcolor": "",
        "x": 670,
        "y": 560,
        "wires": [
            [
                "581a5cc2.e013e4"
            ]
        ]
    },
    {
        "id": "581a5cc2.e013e4",
        "type": "bigtimer",
        "z": "353b452d.9a6efa",
        "outtopic": "mys-out/21/1/1/0/2",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Big Timer",
        "lat": "56.76696",
        "lon": "10.15406",
        "starttime": "360",
        "endtime": "1350",
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 840,
        "y": 560,
        "wires": [
            [
                "3fe0e515.5a651a",
                "b44a5f98.b7e1e"
            ],
            [],
            []
        ]
    },
    {
        "id": "ef0a28a0.348f08",
        "type": "inject",
        "z": "353b452d.9a6efa",
        "name": "",
        "topic": "mys-out/21/1/1/1/2",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "3acf5600.83edda"
            ]
        ]
    },
    {
        "id": "50abfbd6.b6e384",
        "type": "inject",
        "z": "353b452d.9a6efa",
        "name": "",
        "topic": "mys-out/21/1/1/1/2",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 810,
        "y": 300,
        "wires": [
            [
                "3acf5600.83edda"
            ]
        ]
    },
    {
        "id": "91102938.5a5f88",
        "type": "debug",
        "z": "353b452d.9a6efa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba3e6c23.b0914",
        "type": "mqtt in",
        "z": "353b452d.9a6efa",
        "name": "",
        "topic": "mys-in/21/1/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "91102938.5a5f88"
            ]
        ]
    },
    {
        "id": "6f5e0b48.fb6614",
        "type": "debug",
        "z": "353b452d.9a6efa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "a4b81e2e.dc0a9",
        "type": "mqtt in",
        "z": "353b452d.9a6efa",
        "name": "",
        "topic": "mys-out/21/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "6f5e0b48.fb6614"
            ]
        ]
    },
    {
        "id": "560bb919.0733f8",
        "type": "inject",
        "z": "353b452d.9a6efa",
        "name": "Reset hønsehus",
        "topic": "mys-out/21/255/3/0/13",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 800,
        "y": 340,
        "wires": [
            [
                "3acf5600.83edda"
            ]
        ]
    }
]