flows.json
[
    {
        "id": "67deb464.98214c",
        "type": "tab",
        "label": "Mysensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2be3a2a.67d4b8",
        "type": "tab",
        "label": "Dashboard MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9292e51b.eaf788",
        "type": "tab",
        "label": "Webservices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9d4d547.6a9438",
        "type": "tab",
        "label": "Automation rules",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d10deed0.f94c",
        "type": "tab",
        "label": "Slack",
        "disabled": true,
        "info": ""
    },
    {
        "id": "36f02452.2e99bc",
        "type": "tab",
        "label": "UI"
    },
    {
        "id": "29d73028.74b4a",
        "type": "tab",
        "label": "UI: BBQ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c8e2559.87cbfb",
        "type": "tab",
        "label": "mysensors-old",
        "disabled": true,
        "info": ""
    },
    {
        "id": "ca4f572b.274038",
        "type": "tab",
        "label": "UI: Varme system",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2257718.fdda88e",
        "type": "subflow",
        "name": "Energy meter",
        "info": "Converts input from arduino sketch, to a \nMysensors compatible protocol format, usable\nfor injecting into the message stream from\nnormal Mysensors nodes\n\nOutputs data as nodeId 99.",
        "in": [],
        "out": [
            {
                "x": 1320,
                "y": 220,
                "wires": [
                    {
                        "id": "f9b89df5.06476",
                        "port": 0
                    },
                    {
                        "id": "1dcfb48.fe2304c",
                        "port": 0
                    },
                    {
                        "id": "11f1e54.721221b",
                        "port": 0
                    },
                    {
                        "id": "eb3757ff.ff8dd8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1240,
                "y": 500,
                "wires": [
                    {
                        "id": "eb3757ff.ff8dd8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "bed2e35d.412d2",
        "type": "subflow",
        "name": "Domoticz conditioner",
        "info": "Inverts lockstate for domoticz, as domoticz has inverted the logic in their code, compared to mysensors",
        "in": [
            {
                "x": 280,
                "y": 220,
                "wires": [
                    {
                        "id": "177ebcf6.1ef483"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1000,
                "y": 220,
                "wires": [
                    {
                        "id": "133a4a4e.e07f06",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "4c13992e.b3ec68",
        "type": "subflow",
        "name": "Logging filter",
        "in": [
            {
                "x": 105.5,
                "y": 240,
                "wires": [
                    {
                        "id": "b57b1f3.f4a84e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 600,
                "y": 260,
                "wires": [
                    {
                        "id": "b57b1f3.f4a84e",
                        "port": 1
                    }
                ]
            }
        ]
    },
    {
        "id": "9b272654.9ad688",
        "type": "subflow",
        "name": "Influx processing",
        "info": "",
        "in": [
            {
                "x": 220,
                "y": 280,
                "wires": [
                    {
                        "id": "55204322.aadfbc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 240,
                "wires": [
                    {
                        "id": "55204322.aadfbc",
                        "port": 2
                    },
                    {
                        "id": "55204322.aadfbc",
                        "port": 0
                    },
                    {
                        "id": "55204322.aadfbc",
                        "port": 1
                    }
                ]
            }
        ]
    },
    {
        "id": "8bc8753a.1ea768",
        "type": "subflow",
        "name": "mqtt thermometer",
        "info": "",
        "in": [
            {
                "x": 120,
                "y": 80,
                "wires": [
                    {
                        "id": "c4285cac.b7dcb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 40,
                "wires": [
                    {
                        "id": "a133b28e.29844",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 80,
                "wires": [
                    {
                        "id": "a133b28e.29844",
                        "port": 1
                    }
                ]
            },
            {
                "x": 660,
                "y": 120,
                "wires": [
                    {
                        "id": "a133b28e.29844",
                        "port": 2
                    }
                ]
            }
        ],
        "inputLabels": [
            "MQTT input"
        ],
        "outputLabels": [
            "Temperature",
            "Humidity",
            "Barometric"
        ]
    },
    {
        "id": "821a7286.7de59",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyNRF24",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "b5105521.4aefa8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS80",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "acfe3226.5301d",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUTILITY",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "8e9bb039.71645",
        "type": "twitter-credentials",
        "z": "",
        "screen_name": "@BowmoHomeRobot"
    },
    {
        "id": "9dbdc7c7.624238",
        "type": "influxdb",
        "z": "67deb464.98214c",
        "hostname": "127.0.0.1",
        "port": "8086",
        "database": "environment",
        "name": "Environment DB"
    },
    {
        "id": "9de2e4ed.fdcfc8",
        "type": "influxdb",
        "z": "67deb464.98214c",
        "hostname": "127.0.0.1",
        "port": "8086",
        "database": "utility",
        "name": "Utility DB"
    },
    {
        "id": "48886e04.c4cc6",
        "type": "serial-port",
        "z": "67deb464.98214c",
        "serialport": "/dev/ttyRFM69",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "2e84b931.fdde26",
        "type": "websocket-listener",
        "z": "",
        "path": "/dashboard",
        "wholemsg": "false"
    },
    {
        "id": "ca5adeb2.68c55",
        "type": "slackbot-controller",
        "z": "",
        "name": "HusBot",
        "bot_token": "xoxb-93817565314-CM19x5qrKKpBBOruTdmCbMwC"
    },
    {
        "id": "56b003cf.93c9bc",
        "type": "harmony-server",
        "z": "",
        "name": "Stuen",
        "ip": "192.168.0.66"
    },
    {
        "id": "6c5b47d3.832458",
        "type": "ui_tab",
        "z": "",
        "name": "Stuen",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "9f6b85e1.adc7d8",
        "type": "ui_group",
        "z": "",
        "name": "Fjernvarme målere",
        "tab": "6255c082.fdb72",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "171dca46.627746",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Bowman Mørch",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d9490c52.897ce",
        "type": "ui_group",
        "z": "",
        "name": "Stuen",
        "tab": "6c5b47d3.832458",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "85f5cfaa.42289",
        "type": "ui_group",
        "z": "",
        "name": "Udendørs",
        "tab": "6c5b47d3.832458",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4798f2b0.5d747c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-mysensors",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "18897163.60f2bf",
        "type": "ui_group",
        "z": "",
        "name": "Grill",
        "tab": "1fa739cf.db0f66",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1fa739cf.db0f66",
        "type": "ui_tab",
        "z": "",
        "name": "Grill",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "cc7bc1b6.f6635",
        "type": "ui_group",
        "z": "",
        "name": "Aktuel temperatur",
        "tab": "1fa739cf.db0f66",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9cca1fdd.fd315",
        "type": "ui_group",
        "z": "",
        "name": "Mål temperatur",
        "tab": "1fa739cf.db0f66",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a2b7673f.603a98",
        "type": "influxdb",
        "z": "9b272654.9ad688",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "environment",
        "name": "environment",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "c4892f23.817cc",
        "type": "influxdb",
        "z": "9b272654.9ad688",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "utility",
        "name": "utility",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "9d8c74dc.570ca8",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "utility",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "940310ee.5c533",
        "type": "ui_group",
        "z": "",
        "name": "Scene",
        "tab": "6c5b47d3.832458",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e8eb39ba.7799b8",
        "type": "ui_group",
        "z": "",
        "name": "Settings",
        "tab": "ac7edd37.5c008",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac7edd37.5c008",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "6255c082.fdb72",
        "type": "ui_tab",
        "z": "",
        "name": "Huset",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "bf3de794.50d788",
        "type": "ui_group",
        "z": "",
        "name": "Lys",
        "tab": "6c5b47d3.832458",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "165c814.4d5267f",
        "type": "ui_group",
        "z": "",
        "name": "Varme settings",
        "tab": "6255c082.fdb72",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e11ff54d.12ad78",
        "type": "ui_group",
        "z": "",
        "name": "Badeværelse",
        "tab": "6255c082.fdb72",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1215f3be.8c080c",
        "type": "ui_group",
        "z": "",
        "name": "Soveværelse",
        "tab": "6255c082.fdb72",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58bcd57b.789b2c",
        "type": "ui_group",
        "z": "",
        "name": "Kontor",
        "tab": "6255c082.fdb72",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5b8bba4c.a47444",
        "type": "serial in",
        "z": "67deb464.98214c",
        "name": "Mysensors NRF",
        "serial": "821a7286.7de59",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "8cb827f.b90b8d8",
                "25982c9c.c32ed4"
            ]
        ]
    },
    {
        "id": "47b5936e.b84a6c",
        "type": "serial out",
        "z": "67deb464.98214c",
        "name": "Mysensors NRF",
        "serial": "821a7286.7de59",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "4755dfb8.b8aa2",
        "type": "serial out",
        "z": "67deb464.98214c",
        "name": "Domoticz",
        "serial": "b5105521.4aefa8",
        "x": 1160,
        "y": 580,
        "wires": []
    },
    {
        "id": "b57b1f3.f4a84e",
        "type": "function",
        "z": "4c13992e.b3ec68",
        "name": "Filter battery msg",
        "func": "var battMsg = null;\nvar debugMsg = null;\nvar sketchMsg = null;\nif (msg.messageType==3) {\n    if (msg.subType===0)\n        battMsg = msg;\n    if (msg.subType==9)\n        debugMsg = msg;\n    if (msg.subType==11 || msg.subType==12)\n        sketchMsg = msg;\n}\n\nreturn [battMsg, debugMsg, sketchMsg];",
        "outputs": "3",
        "noerr": 0,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "d8b91167.2746f",
                "de0acbaf.dce4e8"
            ],
            [],
            [
                "cdd7f2cc.7bf58"
            ]
        ]
    },
    {
        "id": "38f9ab87.c70654",
        "type": "file",
        "z": "4c13992e.b3ec68",
        "name": "Battery log",
        "filename": "/var/tmp/battlog.txt",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 1050,
        "y": 180,
        "wires": []
    },
    {
        "id": "1b4decbb.e4b213",
        "type": "function",
        "z": "4c13992e.b3ec68",
        "name": "inject date",
        "func": "var date = new Date();\nvar str = date.getFullYear() + \"-\" + (date.getMonth() + 1) + \"-\" + date.getDate() + \" \" +  date.getHours() + \":\" + date.getMinutes() + \":\" + date.getSeconds();\nmsg.payload = str + \" - \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "38f9ab87.c70654"
            ]
        ]
    },
    {
        "id": "126152bf.ed9ead",
        "type": "function",
        "z": "bed2e35d.412d2",
        "name": "Invert lockstate for domoticz",
        "func": "if (msg.subType == 36) {\n    if (msg.payload== \"1\") msg.payload=\"0\";\n    else msg.payload=\"1\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "133a4a4e.e07f06"
            ]
        ]
    },
    {
        "id": "d8b91167.2746f",
        "type": "function",
        "z": "4c13992e.b3ec68",
        "name": "Check batt level",
        "func": "var date = new Date();\nvar str = date.getFullYear() + \"-\" + (date.getMonth() + 1) + \"-\" + date.getDate() + \" \" +  date.getHours() + \":\" + date.getMinutes() + \":\" + date.getSeconds();\nmsg.date = str;\nif (parseInt(msg.payload)<5)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 220,
        "wires": [
            [
                "c44e1c28.3bb1e"
            ]
        ]
    },
    {
        "id": "c44e1c28.3bb1e",
        "type": "template",
        "z": "4c13992e.b3ec68",
        "name": "BatLow message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{date}} - Battery level is low on node {{nodeId}} : {{payload}} !",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "e9231639.16dce8"
            ]
        ]
    },
    {
        "id": "e9231639.16dce8",
        "type": "twitter out",
        "z": "4c13992e.b3ec68",
        "twitter": "8e9bb039.71645",
        "name": "Tweet",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "b478903e.4b877",
        "type": "file",
        "z": "4c13992e.b3ec68",
        "name": "Presentation log",
        "filename": "/var/tmp/presentation.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "12db17ce.ed24e8",
        "type": "serial in",
        "z": "2257718.fdda88e",
        "name": "Meter input",
        "serial": "acfe3226.5301d",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "e56f30b7.1a90d"
            ]
        ]
    },
    {
        "id": "1dcfb48.fe2304c",
        "type": "mysencap",
        "z": "2257718.fdda88e",
        "name": "",
        "nodeid": "99",
        "childid": "1",
        "subtype": "17",
        "internal": "0",
        "ack": false,
        "msgtype": "1",
        "presentation": false,
        "presentationtype": "13",
        "presentationtext": "Watt",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f9b89df5.06476",
        "type": "mysencap",
        "z": "2257718.fdda88e",
        "name": "",
        "nodeid": "99",
        "childid": "1",
        "subtype": "18",
        "internal": "0",
        "ack": false,
        "msgtype": "1",
        "presentation": true,
        "presentationtype": "14",
        "presentationtext": "Kwh",
        "fullpresentation": true,
        "firmwarename": "MeterNode",
        "firmwareversion": "0.1",
        "x": 620,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e56f30b7.1a90d",
        "type": "function",
        "z": "2257718.fdda88e",
        "name": "Split meter data",
        "func": "var m=msg.payload.split(';');\n// Filtering away unrealistic high usage above 50KW\nif (Number(m[0]) < 50000) {\n    var msg1 = {payload:m[0]};\n    var msg2 = {payload:m[1]/1000};\n    var msg3 = {payload:m[1]};\n    return [msg1, msg2, msg3];\n}\n",
        "outputs": "3",
        "noerr": 0,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "1dcfb48.fe2304c"
            ],
            [
                "f9b89df5.06476"
            ],
            [
                "dfd92894.2026d8",
                "985078ce.c384e8"
            ]
        ]
    },
    {
        "id": "dfd92894.2026d8",
        "type": "file",
        "z": "2257718.fdda88e",
        "name": "meter counter output to file",
        "filename": "/var/tmp/meascache.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "44592b43.bba6d4",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "Energy meter output",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "9e471178.61b8f",
        "type": "subflow:bed2e35d.412d2",
        "z": "67deb464.98214c",
        "name": "",
        "x": 400,
        "y": 680,
        "wires": [
            [
                "19c64177.e1a11f"
            ]
        ]
    },
    {
        "id": "9bdc2a5b.6423d8",
        "type": "subflow:bed2e35d.412d2",
        "z": "67deb464.98214c",
        "name": "",
        "x": 840,
        "y": 580,
        "wires": [
            [
                "abe47c26.029bd"
            ]
        ]
    },
    {
        "id": "9ebb1391.6144f",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "gw debug",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "49c6c17b.b6394",
        "type": "subflow:4c13992e.b3ec68",
        "z": "67deb464.98214c",
        "x": 590,
        "y": 540,
        "wires": [
            [
                "9ebb1391.6144f"
            ]
        ]
    },
    {
        "id": "602db35f.9fd24c",
        "type": "serial in",
        "z": "67deb464.98214c",
        "name": "Domoticz (20)",
        "serial": "b5105521.4aefa8",
        "x": 190,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "173aba02.e8c546",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "Domoticz in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "55204322.aadfbc",
        "type": "function",
        "z": "9b272654.9ad688",
        "name": "Influx conditioner",
        "func": "msg_env = null;\nmsg_utility = null;\nst = msg.subType;\nif (msg.messageType == 1 && (st === 0 || st == 1 || st == 2 || st == 4 || st == 17)) {\n    var tags = {};var data = {}\n    tags.node = msg.nodeId.toString();\n    tags.sensor = msg.childSensorId.toString();\n    data.value=parseFloat(msg.payload);\n    if (!isNaN(data.value)) {\n        switch (st) {\n            case 0 : type = \"temperature\";break;\n            case 1 : type = \"humidity\"; break;\n            case 2 : type = \"status\"; break;\n            case 4 : type = \"barometer\"; break;\n            case 17: type = \"electricity\"; break;\n        }\n        msg.payload = [data, tags];\n        msg.measurement = type;\n        if (msg.subType==17) {\n            msg_utility = msg;\n        }\n        else {\n            msg_env = msg;\n        }\n    }\n} \n\nreturn [msg, msg_env, msg_utility];",
        "outputs": "3",
        "noerr": 0,
        "x": 410,
        "y": 280,
        "wires": [
            [],
            [
                "c042117a.3fbdf"
            ],
            [
                "f6bdc7dc.77c758"
            ]
        ]
    },
    {
        "id": "c042117a.3fbdf",
        "type": "influxdb out",
        "z": "9b272654.9ad688",
        "influxdb": "a2b7673f.603a98",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "f6bdc7dc.77c758",
        "type": "influxdb out",
        "z": "9b272654.9ad688",
        "influxdb": "c4892f23.817cc",
        "name": "Utility",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "3ff64036.ae116",
        "type": "subflow:9b272654.9ad688",
        "z": "67deb464.98214c",
        "name": "InfluxDB",
        "x": 580,
        "y": 500,
        "wires": [
            [
                "aec232d3.2860b"
            ]
        ]
    },
    {
        "id": "aec232d3.2860b",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "11f1e54.721221b",
        "type": "mysencap",
        "z": "2257718.fdda88e",
        "name": "",
        "nodeid": "99",
        "childid": "2",
        "subtype": "17",
        "internal": 0,
        "ack": false,
        "msgtype": "1",
        "presentation": false,
        "presentationtype": 0,
        "presentationtext": "",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 860,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "932ebb67.4968d8",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "msg_nrf",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "8cb827f.b90b8d8",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "NRF input",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "74bc6004.618bc",
        "type": "http response",
        "z": "9292e51b.eaf788",
        "name": "",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "33eb5fc9.991eb",
        "type": "slackbot-listen",
        "z": "d10deed0.f94c",
        "slackbot": "ca5adeb2.68c55",
        "name": "",
        "x": 114,
        "y": 443,
        "wires": [
            [
                "e78d46ee.fa0f98",
                "26f8f71a.1eb498"
            ]
        ]
    },
    {
        "id": "dd9af24e.e2395",
        "type": "slackbot-reply",
        "z": "d10deed0.f94c",
        "slackbot": "ca5adeb2.68c55",
        "name": "",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "f8828153.6536d",
        "type": "switch",
        "z": "d10deed0.f94c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "billede",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "hej",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "9611fc27.e021c"
            ],
            [
                "b1e8baa7.2f09e8"
            ]
        ]
    },
    {
        "id": "b1e8baa7.2f09e8",
        "type": "change",
        "z": "d10deed0.f94c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Goddag",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "f57f871e.389308"
            ]
        ]
    },
    {
        "id": "9611fc27.e021c",
        "type": "change",
        "z": "d10deed0.f94c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ok, jeg sender et billede",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "f57f871e.389308"
            ]
        ]
    },
    {
        "id": "26f8f71a.1eb498",
        "type": "debug",
        "z": "d10deed0.f94c",
        "name": "listen",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 275,
        "y": 380,
        "wires": []
    },
    {
        "id": "e78d46ee.fa0f98",
        "type": "function",
        "z": "d10deed0.f94c",
        "name": "",
        "func": "msg.orig = msg;\nmsg.token = \"xoxb-93817565314-CM19x5qrKKpBBOruTdmCbMwC\";\nmsg.url = \"https://slack.com/api/users.info?token=xoxb-93817565314-CM19x5qrKKpBBOruTdmCbMwC&user=\"+msg.message.user;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 500,
        "wires": [
            [
                "588a8611.d17038",
                "7c0f393d.b4a888"
            ]
        ]
    },
    {
        "id": "588a8611.d17038",
        "type": "http request",
        "z": "d10deed0.f94c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "d942251e.5b2d38"
            ]
        ]
    },
    {
        "id": "d942251e.5b2d38",
        "type": "function",
        "z": "d10deed0.f94c",
        "name": "",
        "func": "payload = JSON.parse(msg.payload);\nconsole.log(payload.user.name);\nmsg.payload = msg.message.text;\nmsg.user = payload.user.name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "f31a5efc.4234",
                "f8828153.6536d"
            ]
        ]
    },
    {
        "id": "f31a5efc.4234",
        "type": "debug",
        "z": "d10deed0.f94c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 610,
        "y": 540,
        "wires": []
    },
    {
        "id": "7c0f393d.b4a888",
        "type": "debug",
        "z": "d10deed0.f94c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "url",
        "x": 340,
        "y": 540,
        "wires": []
    },
    {
        "id": "f57f871e.389308",
        "type": "template",
        "z": "d10deed0.f94c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}} {{user}}",
        "x": 770,
        "y": 420,
        "wires": [
            [
                "dd9af24e.e2395"
            ]
        ]
    },
    {
        "id": "ea57b38e.eecb5",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "a3d33992.a66ae8",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "7acdfaa3.794f44",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1170,
        "y": 540,
        "wires": []
    },
    {
        "id": "ad8c0dc6.4f64a",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}°",
        "min": "-10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "4f7cb0eb.0d19a",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugtighed",
        "label": "RH",
        "format": "{{value}}%",
        "min": "40",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#384dca"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "5115f872.4620e8",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Barometer",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "c04eebad.3abb18",
        "type": "mqtt in",
        "z": "29d73028.74b4a",
        "name": "",
        "topic": "bbq/probe/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "44614969.ed87a8",
                "d2bd726f.bc379"
            ]
        ]
    },
    {
        "id": "44614969.ed87a8",
        "type": "ui_chart",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "18897163.60f2bf",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 950,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3b28b192.3dedbe",
        "type": "ui_gauge",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "cc7bc1b6.f6635",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Probe 1",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "d2bd726f.bc379",
        "type": "switch",
        "z": "29d73028.74b4a",
        "name": "bbq switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bbq/probe/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bbq/probe/2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bbq/probe/3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bbq/probe/4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 790,
        "y": 320,
        "wires": [
            [
                "3b28b192.3dedbe"
            ],
            [
                "28155b24.363f94"
            ],
            [
                "fd89173.0fd6ae8"
            ],
            [
                "e84c7202.7c1c3"
            ]
        ]
    },
    {
        "id": "28155b24.363f94",
        "type": "ui_gauge",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "cc7bc1b6.f6635",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Probe 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "fd89173.0fd6ae8",
        "type": "ui_gauge",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "cc7bc1b6.f6635",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Probe 3",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "e84c7202.7c1c3",
        "type": "ui_gauge",
        "z": "29d73028.74b4a",
        "name": "",
        "group": "cc7bc1b6.f6635",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Probe 4",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "77610ed1.363cb",
        "type": "ui_numeric",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "",
        "group": "9cca1fdd.fd315",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "bbq/target/1",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 300,
        "y": 440,
        "wires": [
            [
                "da36f779.58bb88",
                "f01ba07f.b219e"
            ]
        ]
    },
    {
        "id": "da36f779.58bb88",
        "type": "function",
        "z": "29d73028.74b4a",
        "name": "set temperatures",
        "func": "topic = msg.topic.slice(-1);\nprobe = Number(topic);\ntemperature = Number(msg.payload);\nmsg1 = msg;\nmsg2 = null;\nmsg3 = null;\n\nvar targetTemp = context.get('targetTemp') || [];\n\nif (msg.topic.includes('target')) {\n    targetTemp[probe] = temperature;\n    context.set('targetTemp', targetTemp);\n    if (temperature === -1) {\n        msg1.ui_control = {\"max\": 100}\n    } else {\n        msg1.ui_control = {\"max\": msg.payload + 10};\n    }\n    msg1.topic = 'bbq/probe/'+topic\n    delete msg1.payload\n} else if (msg.topic.includes('probe')) {\n    if (targetTemp.length >= topic) {\n        if (temperature >= targetTemp[probe]) {\n            msg3 = {payload: 'Probe ' + topic + ' har nået sin mål temperatur'};\n        }\n    }    \n}\n\nreturn [msg1, msg, msg3];\n",
        "outputs": "3",
        "noerr": 0,
        "x": 570,
        "y": 500,
        "wires": [
            [
                "d2bd726f.bc379",
                "e8f5c2a1.34456"
            ],
            [
                "d71091bc.2ecb8"
            ],
            [
                "6e5db1e.f67ef5"
            ]
        ]
    },
    {
        "id": "96657173.b10bf",
        "type": "ui_numeric",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "",
        "group": "9cca1fdd.fd315",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "bbq/target/2",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 300,
        "y": 480,
        "wires": [
            [
                "da36f779.58bb88"
            ]
        ]
    },
    {
        "id": "36625ef3.3ff4c2",
        "type": "ui_numeric",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "",
        "group": "9cca1fdd.fd315",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "bbq/target/3",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "da36f779.58bb88"
            ]
        ]
    },
    {
        "id": "a0b3e3fc.f1463",
        "type": "ui_numeric",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "",
        "group": "9cca1fdd.fd315",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "bbq/target/4",
        "format": "{{value}}",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "da36f779.58bb88"
            ]
        ]
    },
    {
        "id": "6e5db1e.f67ef5",
        "type": "ui_toast",
        "z": "29d73028.74b4a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "1e1ae89f.e44f67",
        "type": "ui_slider",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "1",
        "group": "9cca1fdd.fd315",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "bbq/probe/1",
        "min": "10",
        "max": "90",
        "step": 1,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "77610ed1.363cb"
            ]
        ]
    },
    {
        "id": "bc8e8dad.66db9",
        "type": "ui_slider",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "2",
        "group": "9cca1fdd.fd315",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "bbq/probe/1",
        "min": "10",
        "max": "90",
        "step": 1,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "96657173.b10bf"
            ]
        ]
    },
    {
        "id": "5b1f8b73.ca7084",
        "type": "ui_slider",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "3",
        "group": "9cca1fdd.fd315",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "bbq/probe/1",
        "min": "10",
        "max": "90",
        "step": 1,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "36625ef3.3ff4c2"
            ]
        ]
    },
    {
        "id": "fee5a0b4.d3336",
        "type": "ui_slider",
        "z": "29d73028.74b4a",
        "name": "",
        "label": "4",
        "group": "9cca1fdd.fd315",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "bbq/probe/1",
        "min": "10",
        "max": "90",
        "step": 1,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "a0b3e3fc.f1463"
            ]
        ]
    },
    {
        "id": "b26f09d5.dc2948",
        "type": "inject",
        "z": "29d73028.74b4a",
        "name": "",
        "topic": "bbq/probe/1",
        "payload": "40",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "44614969.ed87a8",
                "da36f779.58bb88",
                "d2bd726f.bc379"
            ]
        ]
    },
    {
        "id": "f01ba07f.b219e",
        "type": "debug",
        "z": "29d73028.74b4a",
        "name": "input",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "e8f5c2a1.34456",
        "type": "debug",
        "z": "29d73028.74b4a",
        "name": "output",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "d71091bc.2ecb8",
        "type": "debug",
        "z": "29d73028.74b4a",
        "name": "msg all",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "72e80bb2.46ea04",
        "type": "http in",
        "z": "9292e51b.eaf788",
        "name": "",
        "url": "tasker",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "74bc6004.618bc",
                "82170263.03901",
                "3a4aa580.8853ea"
            ]
        ]
    },
    {
        "id": "82170263.03901",
        "type": "debug",
        "z": "9292e51b.eaf788",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 870,
        "y": 580,
        "wires": []
    },
    {
        "id": "7d1c7516.71802c",
        "type": "mysencap",
        "z": "9292e51b.eaf788",
        "name": "Test",
        "nodeid": "220",
        "childid": "1",
        "subtype": "2",
        "internal": 0,
        "ack": false,
        "msgtype": 1,
        "presentation": true,
        "presentationtype": 0,
        "presentationtext": "Presence 1",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "82170263.03901",
                "1326302d.ebc2f"
            ]
        ]
    },
    {
        "id": "8eb060c5.65dd",
        "type": "function",
        "z": "9292e51b.eaf788",
        "name": "",
        "func": "payload = msg.payload;\nif (payload.arbjede === \"Ankommet\") {\n    payload = 1;\n} else {\n    payload = 0;\n}\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "7d1c7516.71802c",
                "82170263.03901"
            ]
        ]
    },
    {
        "id": "cf80a3d0.be573",
        "type": "mqtt out",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 970,
        "y": 300,
        "wires": []
    },
    {
        "id": "895c5ec3.769fc",
        "type": "mqtt in",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "mys-out/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "ed4c6e39.bacbd",
                "c11a5ff7.4e5f1"
            ]
        ]
    },
    {
        "id": "7ec6243f.89990c",
        "type": "mqtt in",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "mys-in/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "f11a2832.07d9d8"
            ]
        ]
    },
    {
        "id": "a4e0701b.c1765",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "MQTT out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "e8d9e345.f59cb",
        "type": "mqtt out",
        "z": "d2be3a2a.67d4b8",
        "name": "dashboard",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "4798f2b0.5d747c",
        "x": 830,
        "y": 860,
        "wires": []
    },
    {
        "id": "678ceac0.ee37c4",
        "type": "change",
        "z": "d2be3a2a.67d4b8",
        "name": "dashboard",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "mys-in",
                "fromt": "str",
                "to": "dashboard/sensors",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 860,
        "wires": [
            [
                "ad5e16dd.343278",
                "e8d9e345.f59cb"
            ]
        ]
    },
    {
        "id": "9d5f373e.bb1788",
        "type": "comment",
        "z": "d2be3a2a.67d4b8",
        "name": "Rebroadcast for dashboard and enrich with timestamp",
        "info": "Below is rebroadcasting sensor data (set commands) to the dashboard, with retention bit set to true",
        "x": 320,
        "y": 820,
        "wires": []
    },
    {
        "id": "9150e4b1.7e87f8",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/11/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "beb834aa.730368"
            ]
        ]
    },
    {
        "id": "985078ce.c384e8",
        "type": "function",
        "z": "2257718.fdda88e",
        "name": "Watt/Hour calculator",
        "func": "/* Takes input on subType 24, calculates difference\n   from last time, if around 60 seconds have passed\n   since last report.\n   It passes the value on as subType 17, and\n   childSensorId 2 */\n   \nvar uTime = Math.floor(Date.now()/60000);\nvar lastTime = context.get('lastTime')||0;\nif (lastTime === 0) {\n    context.set('lastTime', uTime);\n    context.set('lastCount', Number(msg.payload));\n} else {\n    if (uTime != lastTime) {\n        lastCount = context.get('lastCount');\n        currentCount = Number(msg.payload);\n        context.set('lastTime', uTime);\n        context.set('lastCount', currentCount)\n        msg.payload = currentCount - lastCount;\n        return msg;\n    }\n}\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "11f1e54.721221b"
            ]
        ]
    },
    {
        "id": "693564ba.928f4c",
        "type": "function",
        "z": "2257718.fdda88e",
        "name": "create query",
        "func": "var d = new Date();\nd.setHours(0,0,0,0);\nmsg.time = (1 * d.getTime())/1000;\nmsg.time = d.toISOString(); //ISODateString(d);\nmsg.query = \"select sum(value) from electricity where node='99' and sensor='2' and time>'\"+msg.time+\"'\"; //+msg.time;\nmsg.payload = '';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "fe2ccdc0.ecce8"
            ]
        ]
    },
    {
        "id": "fe2ccdc0.ecce8",
        "type": "influxdb in",
        "z": "2257718.fdda88e",
        "influxdb": "9d8c74dc.570ca8",
        "name": "influx lookup",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 610,
        "y": 400,
        "wires": [
            [
                "a712352f.7d7f28"
            ]
        ]
    },
    {
        "id": "ff440b2.89fc2f8",
        "type": "subflow:2257718.fdda88e",
        "z": "67deb464.98214c",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "44592b43.bba6d4",
                "7535eff3.37e22"
            ],
            [
                "84a7ac1f.0f84a"
            ]
        ]
    },
    {
        "id": "25982c9c.c32ed4",
        "type": "mysdecode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": false,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "ea57b38e.eecb5",
                "7535eff3.37e22"
            ]
        ]
    },
    {
        "id": "f11a2832.07d9d8",
        "type": "mysdecode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": true,
        "x": 380,
        "y": 540,
        "wires": [
            [
                "3ff64036.ae116",
                "49c6c17b.b6394",
                "8d2cee61.71c6c"
            ]
        ]
    },
    {
        "id": "8d2cee61.71c6c",
        "type": "mysencode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "9bdc2a5b.6423d8"
            ]
        ]
    },
    {
        "id": "7535eff3.37e22",
        "type": "mysencode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": true,
        "mqtttopic": "mys-in",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "a4e0701b.c1765",
                "cf80a3d0.be573"
            ]
        ]
    },
    {
        "id": "19c64177.e1a11f",
        "type": "mysdecode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": false,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "173aba02.e8c546",
                "eaa9d1f0.25429"
            ]
        ]
    },
    {
        "id": "ed4c6e39.bacbd",
        "type": "mysdecode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": true,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "a3d33992.a66ae8",
                "1d6e96fd.d27aa9"
            ]
        ]
    },
    {
        "id": "1d6e96fd.d27aa9",
        "type": "mysencode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": false,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "932ebb67.4968d8",
                "70936271.600dec"
            ]
        ]
    },
    {
        "id": "177ebcf6.1ef483",
        "type": "mysdecode",
        "z": "bed2e35d.412d2",
        "name": "",
        "mqtt": false,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "126152bf.ed9ead"
            ]
        ]
    },
    {
        "id": "133a4a4e.e07f06",
        "type": "mysencode",
        "z": "bed2e35d.412d2",
        "name": "",
        "mqtt": false,
        "x": 860,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "de0acbaf.dce4e8",
        "type": "mysencode",
        "z": "4c13992e.b3ec68",
        "name": "",
        "mqtt": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "1b4decbb.e4b213"
            ]
        ]
    },
    {
        "id": "cdd7f2cc.7bf58",
        "type": "mysencode",
        "z": "4c13992e.b3ec68",
        "name": "",
        "mqtt": false,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "b478903e.4b877"
            ]
        ]
    },
    {
        "id": "7e24cbb9.731f94",
        "type": "mqtt out",
        "z": "67deb464.98214c",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1090,
        "y": 680,
        "wires": []
    },
    {
        "id": "eaa9d1f0.25429",
        "type": "mysencode",
        "z": "67deb464.98214c",
        "name": "",
        "mqtt": true,
        "mqtttopic": "mys-out",
        "x": 890,
        "y": 680,
        "wires": [
            [
                "7e24cbb9.731f94",
                "b8eef291.471ab"
            ]
        ]
    },
    {
        "id": "399d6b35.892e74",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 570,
        "y": 660,
        "wires": []
    },
    {
        "id": "cc0c0e63.6b405",
        "type": "function",
        "z": "d2be3a2a.67d4b8",
        "name": "Translate",
        "func": "switch(msg.payload.activityId) {\n    case \"20800334\":\n        activity = \"Stream Video\";\n        break;\n    case \"21395657\":\n        activity = \"Stream Audio\";\n        break;\n    case \"24516381\":\n        activity = \"CD\";\n        flow.set('device', 'dvd');\n        break;\n    case \"20795082\":\n        activity = \"Radio\";\n        break;\n    case \"20800253\":\n        activity = \"DVD\";\n        break;\n    case \"20800328\":\n        activity = \"WII\";\n        break;        \n    case \"20800510\":\n        activity = \"TV\";\n        break;\n    case \"-1\":\n        activity = \"OFF\";\n        break;\n    default:\n        activity = msg.payload.activityId;\n        break;\n}\n\nmsg.payload.activityName = activity;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 700,
        "wires": [
            [
                "399d6b35.892e74",
                "e2a5f61a.7dd638"
            ]
        ]
    },
    {
        "id": "e2a5f61a.7dd638",
        "type": "mqtt out",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "avctrl/out/scene",
        "qos": "2",
        "retain": "true",
        "broker": "4798f2b0.5d747c",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "6b273a3.c572dc4",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "Stream video",
        "server": "56b003cf.93c9bc",
        "activity": "20800334",
        "label": "Chromecast TV",
        "x": 590,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ebf8b052.43e42",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "Stream audio",
        "server": "56b003cf.93c9bc",
        "activity": "21395657",
        "label": "Chromecast Audio",
        "x": 590,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2889457c.b0268a",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "WII",
        "server": "56b003cf.93c9bc",
        "activity": "20800328",
        "label": "Play Wii",
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4bef3015.f4a8b",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "OFF",
        "server": "56b003cf.93c9bc",
        "activity": "-1",
        "label": "PowerOff",
        "x": 570,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a5649af7.74fca8",
        "type": "switch",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "video",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "audio",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wii",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tv",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dvd",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "6b273a3.c572dc4"
            ],
            [
                "ebf8b052.43e42"
            ],
            [
                "2889457c.b0268a"
            ],
            [
                "4bef3015.f4a8b"
            ],
            [
                "c1263114.4ef3f"
            ],
            [
                "541a6418.f052ec"
            ]
        ]
    },
    {
        "id": "61c85fe8.98526",
        "type": "mqtt in",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "avctrl/in/scene",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "a5649af7.74fca8"
            ]
        ]
    },
    {
        "id": "2c73477.9c149b8",
        "type": "switch",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "volumeup",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "volumedown",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mute",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "f5568b5f.898cc8"
            ],
            [
                "367a93b4.65ee8c"
            ],
            [
                "c70cb7be.595738"
            ],
            [
                "fc2bd7be.c40148"
            ]
        ]
    },
    {
        "id": "f5568b5f.898cc8",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Volume UP",
        "server": "56b003cf.93c9bc",
        "activity": "21395657",
        "label": "Chromecast Audio",
        "command": "%7B%22command%22::%22VolumeUp%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008441%22%7D",
        "repeat": "1",
        "x": 590,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "367a93b4.65ee8c",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Volume DOWN",
        "server": "56b003cf.93c9bc",
        "activity": "21395657",
        "label": "Chromecast Audio",
        "command": "%7B%22command%22::%22VolumeDown%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008441%22%7D",
        "repeat": "1",
        "x": 600,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1bb38ed7.f57a81",
        "type": "mqtt in",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "avctrl/in/control",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "2c73477.9c149b8"
            ]
        ]
    },
    {
        "id": "c70cb7be.595738",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Mute",
        "server": "56b003cf.93c9bc",
        "activity": "21395657",
        "label": "Chromecast TV",
        "command": "%7B%22command%22::%22Mute%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008441%22%7D",
        "repeat": "1",
        "x": 570,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8d19bab2.8e9f38",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "chromecast/cast/state",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "f518f36d.e50be"
            ]
        ]
    },
    {
        "id": "f518f36d.e50be",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "set lights",
        "func": "var avctrl = flow.get(\"avctrl\") || \"OFF\";\nvar daylight = Number(flow.get('daylight') || 0);\nvar msgOut = null\nvar currentLight = Number(flow.get('sensor14_1_3') || 0);\nif ((avctrl === \"Stream Video\") && \n    (daylight === 0)) {\n\n    if (msg.payload === 'PLAYING') {\n        msgOut = {payload : 5};\n    }\n    if (msg.payload == 'PAUSED' || msg.payload=== 'STOPPED') {\n        msgOut = {payload: 100};\n    }\n    if (msgOut !== null && msgOut.payload !== currentLight) {\n        return msgOut;\n    }\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "72a0f42e.57bf4c",
                "2c89a82a.ecab58",
                "dbe26677.cae0b8"
            ]
        ]
    },
    {
        "id": "c7a4cf85.bac8a",
        "type": "mysencap",
        "z": "d9d4d547.6a9438",
        "name": "Sofa LED",
        "nodeid": "14",
        "childid": "1",
        "subtype": "3",
        "internal": 0,
        "ack": false,
        "msgtype": 1,
        "presentation": false,
        "presentationtype": 0,
        "presentationtext": "",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 700,
        "y": 60,
        "wires": [
            [
                "743ac734.623e78"
            ]
        ]
    },
    {
        "id": "743ac734.623e78",
        "type": "mysencode",
        "z": "d9d4d547.6a9438",
        "name": "mys-out",
        "mqtt": true,
        "mqtttopic": "mys-out",
        "x": 860,
        "y": 100,
        "wires": [
            [
                "229fa356.e7c70c",
                "4e93a2b6.c2995c"
            ]
        ]
    },
    {
        "id": "229fa356.e7c70c",
        "type": "mqtt out",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "72a0f42e.57bf4c",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "4e93a2b6.c2995c",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "2c89a82a.ecab58",
        "type": "mysencap",
        "z": "d9d4d547.6a9438",
        "name": "Fjernsyn LED",
        "nodeid": "13",
        "childid": "1",
        "subtype": "3",
        "internal": 0,
        "ack": false,
        "msgtype": 1,
        "presentation": false,
        "presentationtype": 0,
        "presentationtext": "",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 540,
        "y": 100,
        "wires": [
            [
                "743ac734.623e78"
            ]
        ]
    },
    {
        "id": "2b16448.ec468bc",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "mys-in/+/255/3/+/1",
        "qos": "1",
        "broker": "4798f2b0.5d747c",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "d3c34997.2784b8"
            ]
        ]
    },
    {
        "id": "31e53497.46a9fc",
        "type": "comment",
        "z": "d9d4d547.6a9438",
        "name": "Respond to time requests",
        "info": "",
        "x": 150,
        "y": 200,
        "wires": []
    },
    {
        "id": "28fca410.fc4d4c",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "Set time",
        "func": "var d = new Date();\n// Get seconds since epoch\nvar secs = Math.round(d.getTime()/1000);\n// Add local time offset\nsecs = secs - d.getTimezoneOffset() * 60;\nmsg.payload = secs;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "743ac734.623e78"
            ]
        ]
    },
    {
        "id": "d3c34997.2784b8",
        "type": "mysdecode",
        "z": "d9d4d547.6a9438",
        "name": "",
        "mqtt": true,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "28fca410.fc4d4c"
            ]
        ]
    },
    {
        "id": "7f194889.4cf208",
        "type": "H observe",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "server": "56b003cf.93c9bc",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "cc0c0e63.6b405",
                "399d6b35.892e74"
            ]
        ]
    },
    {
        "id": "d0b43023.73c0c",
        "type": "mqtt in",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "mys-in/+/+/1/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "678ceac0.ee37c4"
            ]
        ]
    },
    {
        "id": "c11a5ff7.4e5f1",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "caaca6e8.d03688",
        "type": "serial in",
        "z": "1c8e2559.87cbfb",
        "name": "Mysensors NRF",
        "serial": "821a7286.7de59",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "9d690cba.690be",
                "1c1b7343.89838d"
            ]
        ]
    },
    {
        "id": "749bb386.42d95c",
        "type": "serial out",
        "z": "1c8e2559.87cbfb",
        "name": "Mysensors NRF",
        "serial": "821a7286.7de59",
        "x": 1300,
        "y": 100,
        "wires": []
    },
    {
        "id": "5890fce6.76dc04",
        "type": "serial out",
        "z": "1c8e2559.87cbfb",
        "name": "Domoticz",
        "serial": "b5105521.4aefa8",
        "x": 1000,
        "y": 680,
        "wires": []
    },
    {
        "id": "c6bfc9ca.cc36b8",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "Energy meter output",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 380,
        "y": 400,
        "wires": []
    },
    {
        "id": "76df2917.788778",
        "type": "subflow:bed2e35d.412d2",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "x": 380,
        "y": 780,
        "wires": [
            [
                "c17dcf4.8456d3",
                "cc024340.e3f1"
            ]
        ]
    },
    {
        "id": "af0e8779.e04fc8",
        "type": "subflow:bed2e35d.412d2",
        "z": "1c8e2559.87cbfb",
        "name": "Domoticz out",
        "x": 810,
        "y": 680,
        "wires": [
            [
                "5890fce6.76dc04",
                "e9727eb1.3a409"
            ]
        ]
    },
    {
        "id": "5ed0a86c.24dc08",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "gw debug",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 800,
        "y": 640,
        "wires": []
    },
    {
        "id": "cec40539.281858",
        "type": "subflow:4c13992e.b3ec68",
        "z": "1c8e2559.87cbfb",
        "x": 590,
        "y": 640,
        "wires": [
            [
                "5ed0a86c.24dc08"
            ]
        ]
    },
    {
        "id": "574ff5aa.df4b0c",
        "type": "serial in",
        "z": "1c8e2559.87cbfb",
        "name": "Domoticz (20)",
        "serial": "b5105521.4aefa8",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "76df2917.788778"
            ]
        ]
    },
    {
        "id": "c17dcf4.8456d3",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "Domoticz in",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 590,
        "y": 740,
        "wires": []
    },
    {
        "id": "4571aed6.bdd3a",
        "type": "subflow:9b272654.9ad688",
        "z": "1c8e2559.87cbfb",
        "name": "InfluxDB",
        "x": 580,
        "y": 600,
        "wires": [
            [
                "876c355f.a84078"
            ]
        ]
    },
    {
        "id": "876c355f.a84078",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "9d690cba.690be",
        "type": "change",
        "z": "1c8e2559.87cbfb",
        "name": "mark NRF",
        "rules": [
            {
                "t": "set",
                "p": "radio",
                "pt": "msg",
                "to": "nrf",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "1c16d9b9.0fccf6"
            ]
        ]
    },
    {
        "id": "61395af9.b838a4",
        "type": "function",
        "z": "1c8e2559.87cbfb",
        "name": "net detect",
        "func": "var net = flow.get('network') || {};\nnet[msg.nodeId] = msg.radio;\nflow.set('network', net);\nmsg.payload = net;\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 820,
        "y": 280,
        "wires": [
            [
                "9768d1d5.d35fc"
            ]
        ]
    },
    {
        "id": "9768d1d5.d35fc",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "d78cff46.fd127",
        "type": "function",
        "z": "1c8e2559.87cbfb",
        "name": "Net switch",
        "func": "var net = flow.get('network');\nmsg_nrf = null;\nmsg_rfm = null;\nmsg_nodered = null;\nif (msg.nodeId in net) {\n    var network = net[msg.nodeId];\n    if (network == 'rfm') msg_rfm = msg;\n    if (network == 'nrf') msg_nrf = msg;\n    if (network == 'nodered') msg_nodered = msg;\n} else {\n    msg_nrf = msg;\n    msg_rfm = msg;\n    msg_nodered = msg;\n}\nreturn [msg_nrf,msg_rfm, msg_nodered];\n",
        "outputs": "3",
        "noerr": 0,
        "x": 850,
        "y": 140,
        "wires": [
            [
                "cb21b2fe.73329"
            ],
            [
                "b96fd206.b721f"
            ],
            [
                "b0d8f97f.db3168"
            ]
        ]
    },
    {
        "id": "9e1216c7.fe18a8",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "msg_nrf",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1280,
        "y": 60,
        "wires": []
    },
    {
        "id": "5720d0e9.8a09c",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "msg_rfm",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1280,
        "y": 140,
        "wires": []
    },
    {
        "id": "1c1b7343.89838d",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "NRF input",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 340,
        "y": 280,
        "wires": []
    },
    {
        "id": "723eb6db.2ab878",
        "type": "link in",
        "z": "1c8e2559.87cbfb",
        "name": "Sensor data in",
        "links": [
            "6f296606.fc8978",
            "8ed27f25.a5c84",
            "eb39ce7a.da9d1"
        ],
        "x": 675,
        "y": 380,
        "wires": [
            [
                "9020c714.150228"
            ]
        ]
    },
    {
        "id": "47701ad7.67b3a4",
        "type": "change",
        "z": "1c8e2559.87cbfb",
        "name": "mark nodered",
        "rules": [
            {
                "t": "set",
                "p": "radio",
                "pt": "msg",
                "to": "nodered",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "1c16d9b9.0fccf6"
            ]
        ]
    },
    {
        "id": "db946c0a.0d7f2",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "98d239f8.8b1668",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "msg_internal",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1290,
        "y": 180,
        "wires": []
    },
    {
        "id": "9feac2c9.ce54b",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "e9727eb1.3a409",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1010,
        "y": 640,
        "wires": []
    },
    {
        "id": "50e1b602.8fb8c8",
        "type": "mqtt out",
        "z": "1c8e2559.87cbfb",
        "name": "mys-out",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1160,
        "y": 340,
        "wires": []
    },
    {
        "id": "56ca9d68.634294",
        "type": "mqtt in",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "topic": "mys-out/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "e2331a6.b97fee8",
                "f89bbf1d.3f4f4"
            ]
        ]
    },
    {
        "id": "7fad8b00.2f38c4",
        "type": "mqtt in",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "topic": "mys-in/#",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "c6d4a3cb.99a1f"
            ]
        ]
    },
    {
        "id": "aeef4ef9.a9c1b",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "MQTT out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1160,
        "y": 300,
        "wires": []
    },
    {
        "id": "30bd03fe.08f89c",
        "type": "subflow:2257718.fdda88e",
        "z": "1c8e2559.87cbfb",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "47701ad7.67b3a4",
                "c6bfc9ca.cc36b8"
            ],
            []
        ]
    },
    {
        "id": "1c16d9b9.0fccf6",
        "type": "mysdecode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": false,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "db946c0a.0d7f2",
                "61395af9.b838a4",
                "9020c714.150228"
            ]
        ]
    },
    {
        "id": "c6d4a3cb.99a1f",
        "type": "mysdecode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": true,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "4571aed6.bdd3a",
                "cec40539.281858",
                "238c94f2.ed7f6c"
            ]
        ]
    },
    {
        "id": "238c94f2.ed7f6c",
        "type": "mysencode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": false,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "af0e8779.e04fc8"
            ]
        ]
    },
    {
        "id": "9020c714.150228",
        "type": "mysencode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": true,
        "mqtttopic": "mys-in",
        "x": 930,
        "y": 340,
        "wires": [
            [
                "aeef4ef9.a9c1b",
                "50e1b602.8fb8c8"
            ]
        ]
    },
    {
        "id": "cc024340.e3f1",
        "type": "mysdecode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": false,
        "x": 610,
        "y": 780,
        "wires": [
            [
                "a2afb3ab.1ffc1"
            ]
        ]
    },
    {
        "id": "e2331a6.b97fee8",
        "type": "mysdecode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": true,
        "x": 610,
        "y": 140,
        "wires": [
            [
                "d78cff46.fd127",
                "9feac2c9.ce54b"
            ]
        ]
    },
    {
        "id": "cb21b2fe.73329",
        "type": "mysencode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": false,
        "x": 1070,
        "y": 100,
        "wires": [
            [
                "9e1216c7.fe18a8",
                "749bb386.42d95c"
            ]
        ]
    },
    {
        "id": "b96fd206.b721f",
        "type": "mysencode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": false,
        "x": 1070,
        "y": 140,
        "wires": [
            [
                "5720d0e9.8a09c"
            ]
        ]
    },
    {
        "id": "b0d8f97f.db3168",
        "type": "mysencode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": false,
        "x": 1070,
        "y": 180,
        "wires": [
            [
                "98d239f8.8b1668"
            ]
        ]
    },
    {
        "id": "1ba97db9.084df2",
        "type": "mqtt out",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1050,
        "y": 780,
        "wires": []
    },
    {
        "id": "a2afb3ab.1ffc1",
        "type": "mysencode",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "mqtt": true,
        "mqtttopic": "mys-out",
        "x": 850,
        "y": 780,
        "wires": [
            [
                "1ba97db9.084df2"
            ]
        ]
    },
    {
        "id": "f89bbf1d.3f4f4",
        "type": "debug",
        "z": "1c8e2559.87cbfb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "290b0786.992e48",
        "type": "comment",
        "z": "67deb464.98214c",
        "name": "Mysensors Serial <-> MQTT transformation",
        "info": "",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "49126190.1d732",
        "type": "comment",
        "z": "67deb464.98214c",
        "name": "Domoticz (mysensors) <-> MQTT transformation",
        "info": "",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "1326302d.ebc2f",
        "type": "mysencode",
        "z": "9292e51b.eaf788",
        "name": "",
        "mqtt": true,
        "mqtttopic": "mys-in",
        "x": 910,
        "y": 460,
        "wires": [
            [
                "cb5d627.ebd99a"
            ]
        ]
    },
    {
        "id": "cb5d627.ebd99a",
        "type": "mqtt out",
        "z": "9292e51b.eaf788",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "abe47c26.029bd",
        "type": "function",
        "z": "67deb464.98214c",
        "name": "",
        "func": "msg.payload = msg.payload + \"\\n\\r\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 580,
        "wires": [
            [
                "7acdfaa3.794f44"
            ]
        ]
    },
    {
        "id": "de43824f.f00d5",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "chromecast/+/app",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "e1cbaf9b.7c245"
            ]
        ]
    },
    {
        "id": "3a4aa580.8853ea",
        "type": "json",
        "z": "9292e51b.eaf788",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "8eb060c5.65dd"
            ]
        ]
    },
    {
        "id": "9628c3f3.82c4e",
        "type": "ui_button",
        "z": "36f02452.2e99bc",
        "name": "video",
        "group": "940310ee.5c533",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-youtube",
        "payload": "video",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 1090,
        "y": 300,
        "wires": [
            [
                "dc02a5c9.b595a8"
            ]
        ]
    },
    {
        "id": "dc02a5c9.b595a8",
        "type": "mqtt out",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1490,
        "y": 380,
        "wires": []
    },
    {
        "id": "aa3d81f8.f1b05",
        "type": "ui_button",
        "z": "36f02452.2e99bc",
        "name": "audio",
        "group": "940310ee.5c533",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-headphones",
        "payload": "audio",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "dc02a5c9.b595a8"
            ]
        ]
    },
    {
        "id": "29f35401.38375c",
        "type": "ui_button",
        "z": "36f02452.2e99bc",
        "name": "off",
        "group": "940310ee.5c533",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-power-off",
        "payload": "off",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 1090,
        "y": 380,
        "wires": [
            [
                "dc02a5c9.b595a8"
            ]
        ]
    },
    {
        "id": "fb4b92ff.085b3",
        "type": "ui_switch",
        "z": "36f02452.2e99bc",
        "name": "",
        "label": "Sofa",
        "group": "bf3de794.50d788",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/14/1/1/0/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "7e85add0.c89414"
            ]
        ]
    },
    {
        "id": "b8eef291.471ab",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1090,
        "y": 640,
        "wires": []
    },
    {
        "id": "70936271.600dec",
        "type": "function",
        "z": "67deb464.98214c",
        "name": "",
        "func": "msg.payload = msg.payload + \"\\n\\r\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 160,
        "wires": [
            [
                "47b5936e.b84a6c"
            ]
        ]
    },
    {
        "id": "8503dfc2.61257",
        "type": "ui_button",
        "z": "36f02452.2e99bc",
        "name": "wii",
        "group": "940310ee.5c533",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-gamepad",
        "payload": "wii",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 1090,
        "y": 420,
        "wires": [
            [
                "dc02a5c9.b595a8"
            ]
        ]
    },
    {
        "id": "7e7a764e.5656a8",
        "type": "sunrise",
        "z": "d9d4d547.6a9438",
        "name": "sunrise / fall",
        "lat": "56.774153",
        "lon": "10.170926",
        "start": "goldenHourEnd",
        "end": "goldenHour",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "6dddda3a.8da344"
            ],
            []
        ]
    },
    {
        "id": "57cfb9f2.fb6488",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 310,
        "y": 540,
        "wires": []
    },
    {
        "id": "2a217e70.aac6f2",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "avctrl/out/scene",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "6dddda3a.8da344",
                "57cfb9f2.fb6488",
                "7067eb38.1ac8a4"
            ]
        ]
    },
    {
        "id": "6dddda3a.8da344",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "",
        "func": "if (msg.topic == 'sun') {\n    flow.set(\"daylight\", msg.payload);\n}\nif (msg.topic.includes('avctrl')) {\n    flow.set(\"avctrl\", JSON.parse(msg.payload).activityName);\n}\n\nmsg.payload = flow.get('avctrl') + \":\" + flow.get('daylight');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "da5bbafd.b06ae8"
            ]
        ]
    },
    {
        "id": "da5bbafd.b06ae8",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "3e41fa8d.6fbaa6",
        "type": "ui_slider",
        "z": "36f02452.2e99bc",
        "name": "",
        "label": "Film afspil lysstyrke",
        "group": "e8eb39ba.7799b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "conf/light/movieplay",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 1150,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "4eb21fcf.0ae0a",
        "type": "ui_slider",
        "z": "36f02452.2e99bc",
        "name": "",
        "label": "Film pause lysstyrke",
        "group": "e8eb39ba.7799b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "conf/light/moviepause",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 1160,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "cfbf2086.d37c7",
        "type": "ui_text",
        "z": "36f02452.2e99bc",
        "group": "940310ee.5c533",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "AV Status",
        "format": "{{msg.payload.activityName}}",
        "layout": "col-center",
        "x": 1140,
        "y": 120,
        "wires": []
    },
    {
        "id": "f095256e.6c12a8",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "avctrl/out/scene",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 820,
        "y": 120,
        "wires": [
            [
                "90f38ada.5c9208"
            ]
        ]
    },
    {
        "id": "90f38ada.5c9208",
        "type": "json",
        "z": "36f02452.2e99bc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 990,
        "y": 120,
        "wires": [
            [
                "cfbf2086.d37c7"
            ]
        ]
    },
    {
        "id": "fe4fa6ea.b04af8",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/14/1/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 840,
        "y": 500,
        "wires": [
            [
                "fb4b92ff.085b3"
            ]
        ]
    },
    {
        "id": "9f7173a5.0857",
        "type": "delay",
        "z": "d9d4d547.6a9438",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "500d2e4.d03e5d"
            ]
        ]
    },
    {
        "id": "e1cbaf9b.7c245",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "Auto power on / off av center",
        "func": "// Store app for the current device in context\n// So we can retrieve it in other functions\nconst regex = /chromecast\\/(.*)\\//g;\nvar app = msg.payload || 'None'\nm = regex.exec(msg.topic)\ndevice = m[1];\nflow.set(device + \"_app\", app);\nvar avctrl = flow.get(\"avctrl\") || \"OFF\";\n\nmsg1 = null;\nmsg2 = null;\n\n// Get current app on the \"other\" chromecast\nother_device = 'audio';\nif (device === 'audio') {\n    other_device = 'cast';\n}\nother_app = flow.get(other_device + '_app') || 'None';\n\n// Start power off countdown if no activity\nif ((app === 'None' || app === 'Backdrop') && \n    (other_app ==='None' || other_app === 'Backdrop') &&\n    avctrl.includes('Stream')) {\n    msg1 = {payload: \"off\"};\n} else {\n    msg1 = {reset: \"YES\"};\n}\n\n// If the other chromecast is iddle, then we can start our \"thing\"\nif (other_app === 'None' || other_app === 'Backdrop') {\n    if ((app !== 'None') && (app !== 'Backdrop')) {\n        if (device === 'cast') {\n            msg2 = {payload: 'video'};\n        } else {\n            msg2 = {payload: 'audio'};\n        }\n    }   \n} \n\nreturn [msg1, msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "9f7173a5.0857"
            ],
            [
                "500d2e4.d03e5d"
            ]
        ]
    },
    {
        "id": "500d2e4.d03e5d",
        "type": "mqtt out",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "avctrl/in/scene",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "a353260f.63b8f8",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "dashboard/sensors/+/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "1faad09a.219b4f"
            ]
        ]
    },
    {
        "id": "b809b24d.95ec2",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "store sensordata",
        "func": "var path = 'sensor'+msg.nodeId+'_'+msg.childSensorId+'_'+msg.subType;\ndata = msg.payload\nflow.set(path, data);\nmsg.payload = path + \"::\" + data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 420,
        "wires": [
            [
                "dbf120d6.901e8"
            ]
        ]
    },
    {
        "id": "1faad09a.219b4f",
        "type": "mysdecode",
        "z": "d9d4d547.6a9438",
        "name": "",
        "mqtt": true,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "b809b24d.95ec2"
            ]
        ]
    },
    {
        "id": "dbe26677.cae0b8",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "is sofa light on",
        "func": "light = Number(flow.get('sensor14_1_3') || 0);\nif (light >0 ) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "c7a4cf85.bac8a"
            ]
        ]
    },
    {
        "id": "dbf120d6.901e8",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "6c291426.31b7ac",
        "type": "comment",
        "z": "d9d4d547.6a9438",
        "name": "Chromecast turn AV on/off automatically",
        "info": "",
        "x": 190,
        "y": 320,
        "wires": []
    },
    {
        "id": "db904d85.7d009",
        "type": "ui_template",
        "z": "36f02452.2e99bc",
        "group": "940310ee.5c533",
        "name": "",
        "order": 8,
        "width": "6",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload.title\"></div>\n<div ng-bind-html=\"msg.payload.artist\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1140,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "25b45c5b.842d14",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "chromecast/+/media",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 830,
        "y": 200,
        "wires": [
            [
                "657ac035.5f877"
            ]
        ]
    },
    {
        "id": "657ac035.5f877",
        "type": "json",
        "z": "36f02452.2e99bc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 990,
        "y": 200,
        "wires": [
            [
                "db904d85.7d009"
            ]
        ]
    },
    {
        "id": "640e3456.6fb06c",
        "type": "comment",
        "z": "d9d4d547.6a9438",
        "name": "Movie theatre lights",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "d62cabb4.b9d228",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "d9490c52.897ce",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value| number:1}}°",
        "min": "15",
        "max": "25",
        "colors": [
            "#430ca9",
            "#04e10a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 620,
        "wires": []
    },
    {
        "id": "4865b18a.983f4",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "d9490c52.897ce",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugt",
        "label": "rH",
        "format": "{{value}}%",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 660,
        "wires": []
    },
    {
        "id": "ae8620c1.e8d8",
        "type": "ui_chart",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 2,
        "width": "3",
        "height": "3",
        "label": "Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 550,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8e62a7b6.c90208",
        "type": "ui_chart",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 4,
        "width": "3",
        "height": "3",
        "label": "Fugt",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 530,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6982d022.1b695",
        "type": "ui_chart",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "85f5cfaa.42289",
        "order": 6,
        "width": "3",
        "height": "3",
        "label": "Baro",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 530,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7d8661eb.8739e",
        "type": "ui_slider",
        "z": "36f02452.2e99bc",
        "name": "",
        "label": "slider",
        "group": "bf3de794.50d788",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "mys-out/14/1/1/0/3",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "7e85add0.c89414"
            ]
        ]
    },
    {
        "id": "637df737.fe84e8",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/14/1/1/0/3",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 840,
        "y": 540,
        "wires": [
            [
                "7d8661eb.8739e"
            ]
        ]
    },
    {
        "id": "3206bfff.039d5",
        "type": "debug",
        "z": "36f02452.2e99bc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1370,
        "y": 520,
        "wires": []
    },
    {
        "id": "7e85add0.c89414",
        "type": "function",
        "z": "36f02452.2e99bc",
        "name": "",
        "func": "if (msg.retain === undefined)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 520,
        "wires": [
            [
                "3206bfff.039d5",
                "f14dc53c.d72c78"
            ]
        ]
    },
    {
        "id": "f14dc53c.d72c78",
        "type": "delay",
        "z": "36f02452.2e99bc",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1350,
        "y": 460,
        "wires": [
            [
                "dc02a5c9.b595a8"
            ]
        ]
    },
    {
        "id": "399d793b.1368f6",
        "type": "ui_text",
        "z": "36f02452.2e99bc",
        "group": "940310ee.5c533",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Chrome",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "b251136c.d33d",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "chromecast/+/app",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 830,
        "y": 160,
        "wires": [
            [
                "399d793b.1368f6"
            ]
        ]
    },
    {
        "id": "d0491803.13e098",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "d9490c52.897ce",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Gulv temperatur",
        "label": "C",
        "format": "{{value}}°",
        "min": "20",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "249b235c.4b97ec",
        "type": "switch",
        "z": "ca4f572b.274038",
        "name": "Varmesystem",
        "property": "childSensorId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "d0491803.13e098",
                "5380ea70.734c84"
            ],
            [
                "353691c2.45d69e"
            ],
            [
                "51e7d896.9b0928"
            ],
            [
                "dee43e87.5c92b"
            ]
        ]
    },
    {
        "id": "353691c2.45d69e",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "9f6b85e1.adc7d8",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fremløb",
        "label": "C",
        "format": "{{value}}°",
        "min": "30",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1000,
        "y": 200,
        "wires": []
    },
    {
        "id": "51e7d896.9b0928",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "9f6b85e1.adc7d8",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Retur",
        "label": "C",
        "format": "{{value}}°",
        "min": "30",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 240,
        "wires": []
    },
    {
        "id": "dee43e87.5c92b",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "9f6b85e1.adc7d8",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Varmt vand",
        "label": "C",
        "format": "{{value}}°",
        "min": "40",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "5380ea70.734c84",
        "type": "ui_gauge",
        "z": "ca4f572b.274038",
        "name": "",
        "group": "9f6b85e1.adc7d8",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Gulv temperatur",
        "label": "units",
        "format": "{{value}}°",
        "min": "20",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1020,
        "y": 120,
        "wires": []
    },
    {
        "id": "6119f7dd.4fddb8",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/+/+/0/0",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "52fb9a86.3b9fc4"
            ]
        ]
    },
    {
        "id": "52fb9a86.3b9fc4",
        "type": "mysdecode",
        "z": "ca4f572b.274038",
        "name": "",
        "mqtt": true,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "249b235c.4b97ec"
            ]
        ]
    },
    {
        "id": "83740ef.6f27df",
        "type": "ui_switch",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Sommer mode",
        "group": "165c814.4d5267f",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/20/8/1/1/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "d162a55c.dbd7a8"
            ]
        ]
    },
    {
        "id": "59025281.1f294c",
        "type": "ui_switch",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Ventil",
        "group": "165c814.4d5267f",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/20/6/1/1/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 590,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ca75c2fb.c0421",
        "type": "ui_numeric",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Gulvvarme termostat",
        "group": "165c814.4d5267f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "mys-out/20/0/1/1/45",
        "format": "{{value}}&deg;C",
        "min": "25",
        "max": "35",
        "step": "0.5",
        "x": 640,
        "y": 400,
        "wires": [
            [
                "d162a55c.dbd7a8"
            ]
        ]
    },
    {
        "id": "23d7ab5a.c27aa4",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/0/1/+/45",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "ca75c2fb.c0421"
            ]
        ]
    },
    {
        "id": "b242c4b5.45fff8",
        "type": "mqtt out",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 1090,
        "y": 500,
        "wires": []
    },
    {
        "id": "22cfe514.e2f19a",
        "type": "ui_numeric",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Indløbs temperatur til hent varme",
        "group": "165c814.4d5267f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "mys-out/20/1/1/0/45",
        "format": "{{value}}&deg;C",
        "min": "25",
        "max": "40",
        "step": "0.5",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "d162a55c.dbd7a8"
            ]
        ]
    },
    {
        "id": "e6bb190c.909188",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/1/1/+/45",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "22cfe514.e2f19a"
            ]
        ]
    },
    {
        "id": "769f0ea5.e6752",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/8/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "83740ef.6f27df"
            ]
        ]
    },
    {
        "id": "1df4132c.a2329d",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/6/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "59025281.1f294c"
            ]
        ]
    },
    {
        "id": "f71208eb.1e1808",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/7/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "1f8b5b93.7bbc84"
            ]
        ]
    },
    {
        "id": "1f8b5b93.7bbc84",
        "type": "ui_switch",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Pumpe",
        "group": "165c814.4d5267f",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "mys-out/20/7/1/1/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 600,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "90261eb0.1dda9",
        "type": "ui_switch",
        "z": "ca4f572b.274038",
        "name": "",
        "label": "Hent varme",
        "group": "165c814.4d5267f",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "mys-out/20/6/1/1/2",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "d162a55c.dbd7a8"
            ]
        ]
    },
    {
        "id": "16053676.c1723a",
        "type": "mqtt in",
        "z": "ca4f572b.274038",
        "name": "",
        "topic": "dashboard/sensors/20/5/1/+/2",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 360,
        "y": 600,
        "wires": [
            [
                "90261eb0.1dda9"
            ]
        ]
    },
    {
        "id": "d162a55c.dbd7a8",
        "type": "function",
        "z": "ca4f572b.274038",
        "name": "",
        "func": "if (msg.retain === undefined)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 500,
        "wires": [
            [
                "b242c4b5.45fff8"
            ]
        ]
    },
    {
        "id": "84a7ac1f.0f84a",
        "type": "debug",
        "z": "67deb464.98214c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 410,
        "y": 360,
        "wires": []
    },
    {
        "id": "d4c611b2.4c162",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "Elforbrug aktuelt",
        "group": "d9490c52.897ce",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Elforbrug",
        "label": "W",
        "format": "{{value| number:1}}",
        "min": "40",
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "2000",
        "x": 1100,
        "y": 660,
        "wires": []
    },
    {
        "id": "b060140e.6e11f8",
        "type": "ui_button",
        "z": "36f02452.2e99bc",
        "name": "dvd",
        "group": "940310ee.5c533",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-film",
        "payload": "dvd",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 1090,
        "y": 460,
        "wires": [
            [
                "dc02a5c9.b595a8"
            ]
        ]
    },
    {
        "id": "b3e6a596.add9a8",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "e11ff54d.12ad78",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}°",
        "min": "15",
        "max": "25",
        "colors": [
            "#430ca9",
            "#04e10a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "68de03bf.382d8c",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "e11ff54d.12ad78",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugt",
        "label": "rH",
        "format": "{{value}}%",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "c4285cac.b7dcb",
        "type": "mysdecode",
        "z": "8bc8753a.1ea768",
        "name": "",
        "mqtt": true,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "a133b28e.29844"
            ]
        ]
    },
    {
        "id": "a133b28e.29844",
        "type": "switch",
        "z": "8bc8753a.1ea768",
        "name": "subTypeSplit",
        "property": "subType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 510,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "fc3093dc.9405",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "badeværelse",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "b3e6a596.add9a8"
            ],
            [
                "68de03bf.382d8c"
            ],
            []
        ]
    },
    {
        "id": "c998ff2f.d3ebf",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/9/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "fc3093dc.9405"
            ]
        ]
    },
    {
        "id": "beb834aa.730368",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "udendørs",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "ae8620c1.e8d8",
                "ad8c0dc6.4f64a"
            ],
            [
                "4f7cb0eb.0d19a",
                "8e62a7b6.c90208"
            ],
            [
                "5115f872.4620e8",
                "6982d022.1b695"
            ]
        ]
    },
    {
        "id": "b1641b7d.068c98",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "1215f3be.8c080c",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}",
        "min": "15",
        "max": "25",
        "colors": [
            "#430ca9",
            "#04e10a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 420,
        "wires": []
    },
    {
        "id": "f7105844.05c978",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "1215f3be.8c080c",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugt",
        "label": "rH",
        "format": "{{value}}%",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "a41abb3e.268738",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "soveværelse",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "b1641b7d.068c98"
            ],
            [
                "f7105844.05c978"
            ],
            []
        ]
    },
    {
        "id": "83463fd1.5897a",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/6/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "a41abb3e.268738"
            ]
        ]
    },
    {
        "id": "134815a.88ef3ea",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "58bcd57b.789b2c",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}°",
        "min": "15",
        "max": "25",
        "colors": [
            "#430ca9",
            "#04e10a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "b984d89e.c852d8",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "",
        "group": "58bcd57b.789b2c",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Fugt",
        "label": "rH",
        "format": "{{value}}%",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "489cf0ec.b2982",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "kontor",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "134815a.88ef3ea"
            ],
            [
                "b984d89e.c852d8"
            ],
            []
        ]
    },
    {
        "id": "7934a9ec.850148",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/200/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "489cf0ec.b2982"
            ]
        ]
    },
    {
        "id": "a95f8a61.33e438",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/99/1/1/0/17",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 850,
        "y": 660,
        "wires": [
            [
                "d4c611b2.4c162"
            ]
        ]
    },
    {
        "id": "92832c3a.b6a5f",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/99/2/1/0/25",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 850,
        "y": 620,
        "wires": [
            [
                "c8597b8b.0581b8"
            ]
        ]
    },
    {
        "id": "753ad95b.7df9c8",
        "type": "ui_gauge",
        "z": "36f02452.2e99bc",
        "name": "Elforbrug dagligt",
        "group": "d9490c52.897ce",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Elforbrug",
        "label": "kWh",
        "format": "{{value| number:1}}",
        "min": "0",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "20",
        "x": 1240,
        "y": 620,
        "wires": []
    },
    {
        "id": "c1263114.4ef3f",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "TV",
        "server": "56b003cf.93c9bc",
        "activity": "20800510",
        "label": "TV",
        "x": 570,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "541a6418.f052ec",
        "type": "H activity",
        "z": "d2be3a2a.67d4b8",
        "name": "DVD",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "x": 570,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "92f38886.7219b8",
        "type": "ui_button",
        "z": "36f02452.2e99bc",
        "name": "tv",
        "group": "940310ee.5c533",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-tv",
        "payload": "tv",
        "payloadType": "str",
        "topic": "avctrl/in/scene",
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "dc02a5c9.b595a8"
            ]
        ]
    },
    {
        "id": "d1b30c8f.d3354",
        "type": "subflow:8bc8753a.1ea768",
        "z": "36f02452.2e99bc",
        "name": "stuen",
        "x": 350,
        "y": 660,
        "wires": [
            [
                "d62cabb4.b9d228"
            ],
            [
                "4865b18a.983f4"
            ],
            []
        ]
    },
    {
        "id": "8712ec41.562cf",
        "type": "mqtt in",
        "z": "36f02452.2e99bc",
        "name": "",
        "topic": "dashboard/sensors/10/+/+/+/+",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "d1b30c8f.d3354"
            ]
        ]
    },
    {
        "id": "54523664.167d58",
        "type": "comment",
        "z": "36f02452.2e99bc",
        "name": "AV / Chromecast status display",
        "info": "",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "c8597b8b.0581b8",
        "type": "function",
        "z": "36f02452.2e99bc",
        "name": "",
        "func": "msg.payload = Number(msg.payload)/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 620,
        "wires": [
            [
                "753ad95b.7df9c8"
            ]
        ]
    },
    {
        "id": "72deec12.552de4",
        "type": "mqtt in",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "chromecast/play",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "4a07510a.6045c"
            ]
        ]
    },
    {
        "id": "4a07510a.6045c",
        "type": "json",
        "z": "d9d4d547.6a9438",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 660,
        "wires": [
            [
                "8e575061.cab32"
            ]
        ]
    },
    {
        "id": "8e575061.cab32",
        "type": "function",
        "z": "d9d4d547.6a9438",
        "name": "",
        "func": "let p = msg.payload;\nlet chrome = 'audio';\nif (p.media === 'video/mp4') {\n    chrome = 'cast';\n}\n\nmsg.topic = 'chromecast/' + chrome + '/control/play';\nmsg.payload = p.id;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 660,
        "wires": [
            [
                "f22d88d1.d2efe8",
                "a639123a.3ddbd"
            ]
        ]
    },
    {
        "id": "f22d88d1.d2efe8",
        "type": "debug",
        "z": "d9d4d547.6a9438",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "a639123a.3ddbd",
        "type": "mqtt out",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "fc2bd7be.c40148",
        "type": "switch",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "property": "device",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "dvd",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cd",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "audio",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "cast",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 570,
        "y": 540,
        "wires": [
            [
                "25273a45.75e776"
            ],
            [
                "25273a45.75e776"
            ],
            [
                "e0cb35b0.2bf4a8"
            ],
            [
                "fef6e906.107c58"
            ]
        ]
    },
    {
        "id": "e0cb35b0.2bf4a8",
        "type": "change",
        "z": "d2be3a2a.67d4b8",
        "name": "audio",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "avctrl/in",
                "fromt": "str",
                "to": "chromecast/audio",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 560,
        "wires": [
            [
                "15cbe8a1.e953e7"
            ]
        ]
    },
    {
        "id": "fef6e906.107c58",
        "type": "change",
        "z": "d2be3a2a.67d4b8",
        "name": "video",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "avctrl/in",
                "fromt": "str",
                "to": "chromecast/cast",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "15cbe8a1.e953e7"
            ]
        ]
    },
    {
        "id": "15cbe8a1.e953e7",
        "type": "mqtt out",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 850,
        "y": 580,
        "wires": []
    },
    {
        "id": "e0abd2fd.18e44",
        "type": "mqtt in",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "topic": "avctrl/out/scene",
        "qos": "2",
        "broker": "4798f2b0.5d747c",
        "x": 920,
        "y": 100,
        "wires": [
            [
                "44d205ee.d67d5c"
            ]
        ]
    },
    {
        "id": "44d205ee.d67d5c",
        "type": "function",
        "z": "d2be3a2a.67d4b8",
        "name": "Set current play device",
        "func": "p = msg.payload.toString().toLowerCase();\nflow.set('device', p);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "25273a45.75e776",
        "type": "switch",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pause",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "play",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "previous",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "c29005a6.029498"
            ],
            [
                "aa76e025.eb137"
            ],
            [],
            [],
            [
                "a73cb364.f49ab"
            ]
        ]
    },
    {
        "id": "c29005a6.029498",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Pausse",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "command": "%7B%22command%22::%22Pause%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008443%22%7D",
        "repeat": "1",
        "x": 860,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "aa76e025.eb137",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Play",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "command": "%7B%22command%22::%22Play%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008443%22%7D",
        "repeat": "1",
        "x": 850,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a73cb364.f49ab",
        "type": "H command",
        "z": "d2be3a2a.67d4b8",
        "name": "Stop",
        "server": "56b003cf.93c9bc",
        "activity": "20800253",
        "label": "DVD",
        "command": "%7B%22command%22::%22Stop%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2237008443%22%7D",
        "repeat": "1",
        "x": 850,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7067eb38.1ac8a4",
        "type": "switch",
        "z": "d9d4d547.6a9438",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Stream",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 560,
        "wires": [
            [],
            [
                "3f59c476.b9f49c",
                "61349c46.da30c4"
            ]
        ]
    },
    {
        "id": "3f59c476.b9f49c",
        "type": "change",
        "z": "d9d4d547.6a9438",
        "name": "quit video",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "quit",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chromecast/cast/control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 540,
        "wires": [
            [
                "6c0576fd.05c4e8"
            ]
        ]
    },
    {
        "id": "6c0576fd.05c4e8",
        "type": "mqtt out",
        "z": "d9d4d547.6a9438",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "broker": "4798f2b0.5d747c",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "61349c46.da30c4",
        "type": "change",
        "z": "d9d4d547.6a9438",
        "name": "quit audio",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "quit",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chromecast/audio/control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "6c0576fd.05c4e8"
            ]
        ]
    },
    {
        "id": "eb3757ff.ff8dd8",
        "type": "mysencap",
        "z": "2257718.fdda88e",
        "name": "",
        "nodeid": "99",
        "childid": "2",
        "subtype": "18",
        "internal": 0,
        "ack": false,
        "msgtype": "1",
        "presentation": false,
        "presentationtype": 0,
        "presentationtext": "",
        "fullpresentation": false,
        "firmwarename": "",
        "firmwareversion": "",
        "x": 1020,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "984a2195.3bad",
        "type": "inject",
        "z": "2257718.fdda88e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "693564ba.928f4c"
            ]
        ]
    },
    {
        "id": "a712352f.7d7f28",
        "type": "change",
        "z": "2257718.fdda88e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].sum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "eb3757ff.ff8dd8"
            ]
        ]
    },
    {
        "id": "ad5e16dd.343278",
        "type": "function",
        "z": "d2be3a2a.67d4b8",
        "name": "add new timestamp topic",
        "func": "msg.topic = msg.topic + '/time'\nmsg.payload = Math.round(Date.now()/1000);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 840,
        "wires": [
            [
                "e8d9e345.f59cb",
                "47f33b61.3523a4"
            ]
        ]
    },
    {
        "id": "47f33b61.3523a4",
        "type": "debug",
        "z": "d2be3a2a.67d4b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 820,
        "wires": []
    }
]